// Advanced Search View

.block-thm-adv-search-facet-container {
  //top: -999px;
  background: color(light-grey);
  display: none;
  left: 0;
  padding-left: 1em;
  position: fixed;
  transition: top 500ms linear;
  width: 100%;

  .facets__header-button { right: 0; }

  &.open {
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    z-index: 503;
  }

  @media screen and (min-width: 838px) {
    margin-left: 100px;
    position: inherit;
    width: 117px;
  }

}

.list-advanced-search {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: em(60);
  padding: 0 $default-grid-gutter-width 0 0;

  @media screen and (max-width: 767px) {
    padding-right: 0;
  }

  .view-header {
    background: transparent;
    color: $black;
    flex: 1 100%;
    font-size: 30px;
    height: em(30);
    line-height: normal;
    margin-bottom: em(5);
    order: 2;
    padding-left: 0;
    padding-top: em(2);
  }

  //Filters
  .view-filters.form-group {
    flex-basis: 100%;
    margin: 1.5em 0 3em;
    order: 1;

    @media screen and (max-width: 767px) {
      margin: auto;
    }

  }

  .views-exposed-form {
    align-items: baseline;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

  }

  .form-item.form-item-items-per-page.form-type-select {
    flex: 1;
    margin-right: em(20);
  }

  .form-item.form-item-sort-by.form-type-select {
    margin-right: 15px;
  }

  .view-content {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    order: 3;
  }

  .view-footer {
    display: none;

    .field-content-alignment { display: none; }

    @media screen and (max-width: 767px) {
      display: flex;
    }

  }

  .pager {
    align-self: center;
    flex: 1 100%;
    margin: 1.5em 0 3em;
    order: 4;

    .pager__items {

      @media screen and (max-width: 767px) {
        margin: 0 auto;
        width: 82%;
      }

    }

  }

}

// Targets the sidebar only on the Advanced Search page
.path-advanced-search {

  .sidebar {

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

}

.block-facets__header {
  @extend %oswald-light;
  border-radius: 0;
  color: color(quaternary);
  display: flex;
  font-size: 1.875em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.thm-adv-search-filter-mgmt {
  cursor: pointer;

  .button {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }

}

.block-facet--autocomplete-widget,
.block-facets {

  h2 {
    @extend %oswald-light;
    background-color: color(secondary);
    border-radius: 0;
    color: $white;
    display: flex;
    font-size: 1.25em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.55556em 0.83333em;
    width: 100%;
  }

  .form-item- {
    margin: 0 0 15px;
  }

  .facets-widget-checkbox {
    background: $white;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

}

.js-facets-autocomplete {
  border-radius: 0 !important;
  box-shadow: none !important;
  max-width: 100% !important;
}

.views-field-title, .views-field-title-product {
  text-align: center;

  h3 { font-size: 1.5625em; }

  h4 {
    font-size: 1em;
    line-height: 1.1;
  }

}
