// Advanced Search View

.block-thm-adv-search-facet-container {
  //top: -999px;
  background: color(light-grey);
  display: none;
  left: 0;
  padding-left: 1em;
  position: fixed;
  transition: top 500ms linear;
  width: 100%;

  .facets__header-button { right: 0; }

  &.open {
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    z-index: 503;
  }

  @media screen and (min-width: 838px) {
    margin-left: 100px;
    position: inherit;
    width: 117px;
  }

}

.list-advanced-search {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: em(60);
  padding: 0 $default-grid-gutter-width 0 0;

  @media screen and (max-width: 767px) {
    padding-right: 0;
  }

  .view-header {
    @extend %oswald-light;
    background: $black;
    color: $white;
    flex: 1;
    flex-basis: 100%;
    font-size: em(44);
    height: em(30);
    line-height: normal;
    margin-bottom: em(5);
    padding-left: em(15);
    padding-top: em(2);

    @media screen and (max-width: 767px) {
      font-size: 1.5em;
    }

  }

  //Filters
  .view-filters.form-group {
    flex-basis: 50%;
    margin: 1.5em 0 3em;
    order: 3;

    @media screen and (max-width: 767px) {
      margin: auto;
    }

  }

  .views-exposed-form {
    align-items: baseline;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

  }

  .form-item.form-item-items-per-page.form-type-select {
    flex: 1;
    margin-right: em(20);
  }

  .form-item.form-item-sort-by.form-type-select {
    margin-right: 15px;
  }

  .view-content {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    order: 4;
  }

  .view-footer {
    display: none;

    @media screen and (max-width: 767px) {
      display: flex;
    }

  }

  .pager {
    align-self: center;
    flex: 1;
    flex-basis: 50%;
    margin: 1.5em 0 3em;
    order: 2;

    .pager__items {

      @media screen and (max-width: 767px) {
        margin: 0 auto;
        width: 82%;
      }

    }

  }

}

// Targets the sidebar only on the Advanced Search page
.path-advanced-search {

  .sidebar {

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

}

.js-facets-autocomplete {
  max-width: 80% !important;
}

.views-field-title, .views-field-title-product {
  text-align: center;

  h3 { font-size: 1.5625em; }

  h4 {
    font-size: 1em;
    line-height: 1.1;
  }

}
