.list-biography-cards-w-category-filter {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: em(60);
  padding: 0 15px;

  .view-header {
    @extend %oswald-light;
    background: $black;
    color: $white;
    flex: 1;
    flex-basis: 100%;
    font-size: em(44);
    height: em(30);
    line-height: normal;
    margin-bottom: em(5);
    padding-left: em(15);
    padding-top: em(2);
  }

  //Filters
  .view-filters.form-group {
    flex-basis: 50%;
    margin: 1.5em 0 3em;
    order: 3;
  }

  .views-exposed-form {
    align-items: baseline;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .form-item.form-item-items-per-page.form-type-select {
    flex: 1;
    margin-right: em(20);
  }

  .form-item.form-item-sort-by.form-type-select {
    margin-right: 15px;
  }

  #edit-submit-biography-cards-w-category-filter {
    background-color: color(secondary);
  }

  //List
  .view-content {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    order: 4;
  }

  //Pager
  .pager {
    align-self: center;
    flex: 1;
    flex-basis: 50%;
    margin: 1.5em 0 3em;
    order: 2;
  }

}//.view.list-biography-card 

//Card
.bio-card--list {
  background: $white;
  border: 1px solid color(medium-grey);
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  margin: 0 em(16) em(32);
  min-width: 30%;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3n+1) {
    margin-left: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  //bio-cards
  a {
    display: flex;
    flex-direction: column;

    .bio-card--image {
      flex: 1;
      overflow: hidden;

      img {
        height: auto;
        transform: scale(1.1);
        width: 100%;
      }

    }

    .bio-card--content {
      background-color: $white;
      flex: 2;
      padding: em(10);
      text-align: center;
      z-index: 2;


      h3 {
        font-family: $oswald;
        font-size: em(25);
        margin-top: 0;
      }

      h4 {
        color: $black;
        font-size: em(16);

        //Overflow at 1 line
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 1;
        // display: -webkit-box;
        // line-height: 120%;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
    }

    &:hover {
      text-decoration: none;

      h3, h4 {
        text-decoration: none;
      }
    }
  }
}//.bio-card--list

#makercategorynavigation {
  margin-right: 3%;
  margin-top: em(60);
  padding: 0 em(15);

  //Maker Category Navigation
  .menu {
    border-top: 1px solid color(medium-grey);
    padding-top: em(15);

    .menu-item {
      display: inherit;
      margin: em(5) 0;
    }

    .menu-item a {
      @extend %source-sans-semi-bold;
      color: color(dark-grey);
    }

    .menu-item.active-trail a.is-active {
      color: color(secondary);
    }

  }

}
