.list-people {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: em(60);
  padding: 0 15px;

  //List
  .view-content {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    order: 4;
  }

}

.people-block.accordion {
  margin: 0 auto;
  max-width: 70%;

  .row {
    margin: 0;
  }

}
