//Store View
.list-commerce-products {
  @extend %max-width;
  @extend %default-gutter-width;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;

  .view-filters.form-group {
    display: flex;
    flex: 1 0 20%;

    //Store filter
    .views-exposed-form.header-search {
      flex: 0;
      flex-direction: column;

      #edit-type {
        height: 100%;
      }

      #edit-actions {
        margin: 0 auto 0 0;
      }

    }

  }

  //Products
  .view-content {
    flex: 1;
    flex-basis: 80%;
  }

  //Pager
  .pager {
    flex: 1 100%;
    margin-left: 20%;
    margin-top: $default-grid-gutter-width;
  }

  //Form field layout
  .form-type-entity-autocomplete input.form-autocomplete.ui-autocomplete-input {
    margin-top: 0;
  }

  .form-type-number {

    label {
      margin-bottom: 0;
      width: 100%;
    }

    input {
      width: 75px;
    }

    .form-actions {
      flex: 1 100%;
    }

  }

}//.list-commerce-products

.item-list.store-products {
  display: flex;

  li {
    @extend %product-card;
    flex-direction: row;
    flex-wrap: wrap;

    .views-field.views-field-body {
      flex: 1 100%;
    }

    .views-field.views-field-variations,
    .views-field.views-field-variations-1 {
      flex: 1 48%;
    }

    .views-field.views-field-variations {

      .price,
      .field-format,
      .field-product {
        display: flex;
      }

      .price > div:first-of-type,
      .field-format > div:first-of-type {
        font-weight: bold;
        padding-right: 15px;
      }

      .field-product > div:first-of-type {
        display: none;
      }

      .field-product {
        padding-top: 15px;
      }

    }

    .views-field-variations-1 {

      form {
        display: flex;
        flex-direction: column;

        .form-item.form-type-select {
          margin: 0;
          padding: em(4) 0;
          width: em(200); //ensure there is no blank space on the right.
        }

        input {
          margin: em(10) 0;
        }
      }
    }

  }//close li
}
