{#
/**
 * @file
 * Theme override for Snapshot Block element.
 *
 */
#}

{# URL:  {{ content.field_snapshot_button|field_raw('uri') }}
Title:  {{ content.field_snapshot_button|field_raw('title') }} #}

{% set url = content.field_snapshot_button|field_raw('uri') %}

{% if url starts with 'internal:' %}
  {% set url = url[10:] %}
{% endif %}

<a href="{{ url }}" class="button button--primary">
  {{ content.field_snapshot_button|field_raw('title') }}
</a>