<div class="da__quotes">
    <q class="da__quote">{{ content.field_quotation.0['#context'].value }}</q>
    <cite class="da__cite">
        <span class="da__cite-name">{{ content.field_source }}</span>
        {{ content.field_occupation_info }}
    </cite>
</div>
