{#
/**
 * @file
 * Theme override for paragraph Product Button
 *
 * Available variables using Paragraphs:
 * -  field_form_button_label
 * -  field_select_a_form
 *
 */
#}

<div class="button--form" }}>
{{ content.field_select_a_form|field_value }}
</div>
