{#
/**
 * @file
 * Theme override for paragraph Feature Quote.
 *
 * Available variables using Paragraphs:
 * -  field_feature_image
 * -  field_feature_carousel_content
 *
 */
#}

{# <ol>
  <li>Quote: {{ content.field_feature_quote|field_value }}</li>
  <li>Byline: {{ content.field_feature_quote_byline|field_value }}</li>
</ol> #}

<div class="carousel__inner-caption">

  <div class="carousel-caption__quote">
    <q class="carousel__quote">
      {{ content.field_feature_quote|field_value }}</q>
    <cite class="carousel__cite">
      {{ content.field_feature_quote_byline|field_value }}
    </cite>
  </div>
</div>
