{#
/**
 * @file
 * Theme override for paragraph Product Button
 *
 * Available variables using Paragraphs:
 * -  field_product_button (entity reference to the store)
 * -  field_product_button_text
 *
 */
#}

<a href="{{ content.field_product_button|field_raw('uri') }}" class="button button--primary carousel__caption--buttons">
  {{ content.field_product_button_text|field_value }}
</a>