$debug-mode: false;

// Basic fonts
$sans: 'Titillium', Helvetica, Arial;
$source-sans: 'Source Sans Pro', sans-serif;
$oswald: 'Oswald', sans-serif;
$default-font: $source-sans;

$default-font-size: 16px;
$default-line-height: 24px;
