
#hm-public-theme-content #crm-main-content-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}


.crm-main-content-wrapper {

  input {
    height: 1.8rem;
    opacity: unset;
  }

  .crm-submit-buttons,
  .action-link {
    height: 2.4rem;
    margin: 4px 0 4px 2px;
  }

}

.form-layout-compressed {

  input[type='checkbox'] {
    opacity: 100;
    height: 1.6rem;
    line-height: 1.4rem;
  }

}


input.crm-form-radio + label,
input.crm-form-checkbox + label {
  margin-left: 0;
}

div.crm-container {

  label {
    line-height: 1.8rem;
  }

  .listing-box,
  .listing-box-tall {
    width: auto;
    max-width: 30rem;
    height: 7.25rem;
    overflow: auto;
    border: 1px solid #999999;
  }

  input.ui-spinner-input {
    height: 1.4em;
  }

  input[type=checkbox] {
    opacity: 100;
  }

  .crm-pager {
    min-height: 3.0rem;
  }

  select.crm-form-select {
    min-height: 2.6rem;
  }

  /* resolve issue with calendar icon */
  svg.svg-inline--fa.fa-calendar.fa-w-14.addon {
    transform: scale(0.035);
  }

  .addon.fa-calendar {
    vertical-align: top;
  }

  .crm-form-submit {
    height: unset;
  }

}

/* remove checkmark from buttons on contribute form */
#hm-public-theme-content i.crm-i.fa-check:before {
  content:none;
}


/* donation forms */


form#Main input#_qf_Main_upload-bottom {
  /* width: 100%; */
}

form#Main span.crm-button.crm-button-type-upload.crm-button_qf_Main_upload.crm-i-button input#_qf_Main_upload-bottom {
  width: 100%;
}

form#Main div#s2id_billing_state_province_id-5 {
  max-width: 100%;
}

.crm-public-form-item.crm-section.soft_credit_type_id-section {

}

form#Main a.select2-choice {
  height: 48px;
}

form#Main div#s2id_honor_prefix_id {

}

form#Main div#s2id_onbehalf_state_province-3 {
  min-width: 100%;
}

form#Main div#s2id_onbehalf_country-3 {
  min-width: 100%;
}

form#Main div#s2id_onbehalf_country-3 {
  width: 100%;
}

#crm-container.crm-public input[type="text"],
#crm-container.crm-public input[type="password"],
#crm-container.crm-public input[type="email"],
#crm-container.crm-public select {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  height: 34px;
  width: 100px;
}

.crm-container div.select2-container {
  min-width: 100%;
}

.crm-container input[type=checkbox] {
  opacity: 0;
}

.crm-container input.crm-form-text,
.crm-container .crm-icon-picker-button,
.crm-container input.dateplugin,
.crm-container input.crm-form-password {
  border-radius: 0;
}

.crm-container .select2-container .select2-choice {
  border-radius: 0;
  box-shadow: none;
  height: 47px;
}

.crm-container div.select2-container {
  height: 48px;
}


form#Main {
  margin: auto;
  max-width: 70%;
}

@media screen and (max-width: 900px) {
  form#Main {
    max-width: unset;
  }
}


form#Main h4,
form#Main h5,
div#priceset-div:before,
form#Main .crm-public-form-item.crm-group.honor_block-group legend,
div#payment_information legend,
form#Main div#on-behalf-block legend {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
}

form#Main {
  h4 {
    color: #2e2d6f;
  }

  h5 {
    color: #941A1D;
  }
  .crm-public-form-item.crm-group.honor_block-group legend {
    border-top: 1px solid #ccc;
    color: #2e2d6f;
    padding-top: 15px;
    width: 100%;
  }

  form#Main label,
  form#Main .crm-public-form-item.crm-group.honor_block-group .crm-public-form-item.crm-section.honor_block_text-section {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

}

div#priceset-div:before,
form#Main div#on-behalf-block legend {
  color: #2e2d6f;
  content: 'Donate';
}

div#payment_information legend {
  border-top: 1px solid #ccc;
  color: #2e2d6f;
  padding-top: 15px;
  width: 100%;
}



form#Main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 120%;
}

form#Main a:hover {
  text-decoration: underline;
}


form#Main div#s2id_billing_state_province_id-5 {
  width: 100%;
}

form#Main input#cvv2 {
  width: 100px;
}

form#Main i.crm-i.fa-times {
  color: #941A1D;
  font-size: 22px;
}

form#Main div#billing-payment-block {
  margin-top: 15px;
}

form#Main div#priceset-div + div .content,
div#onBehalfOfOrg .content,
form#Main .crm-public-form-item.crm-group.honor_block-group .crm-public-form-item.crm-section.soft_credit_type_id-section .content {
  margin-left: 0;
}

div#onBehalfOfOrg {
  padding-bottom: 15px;
}

form#Main .description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

form#Main fieldset.billing_name_address-group {
  margin-top: 30px;
}

form#Main input#is_for_organization {
  opacity: 0;
}

form#Main div#footer_text p {
  font-size: 18px;
  line-height: 1.4em;
}

form#Main span.crm-button.crm-button-type-upload.crm-button_qf_Main_upload.crm-i-button input#_qf_Main_upload-bottom {
  background-color: #682052;
  border: 0.0625em solid transparent;
  border-radius: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0;
  padding: 0.8125em 0.875em 1em;
  width: 92%;
}


form#Main span.crm-button.crm-button-type-upload.crm-button_qf_Main_upload.crm-i-button i {
  display: none;
}

form#Main div#crm-submit-buttons {
  padding: 0;
}

form#Main h5 a {
  color: #941A1D;
  text-decoration: underline;
}

form#Main span.crm-button.crm-button-type-upload.crm-button_qf_Main_upload.crm-i-button input#_qf_Main_upload-bottom:hover {
  background-color: #fff;
  border: 1px solid #682052;
  color: #682052;
}

form#Main p {
  font-size: 18px;
}

form#Main .crm-section.contribution_amount-section,
form#Main .crm-section.other_amount-section,
form#Main .crm-public-form-item.crm-section.email-5-section,
form#Main div#editrow-organization_name,
form#Main div#editrow-phone-3-1,
form#Main div#editrow-email-3,
form#Main div#editrow-street_address-3,
form#Main div#editrow-city-3,
form#Main div#editrow-postal_code-3,
form#Main div#editrow-country-3,
form#Main div#editrow-state_province-3,
form#Main div#editrow-prefix_id,
form#Main div#editrow-first_name,
form#Main div#editrow-last_name,
form#Main div#editrow-email-1,
form#Main fieldset.billing_name_address-group .crm-section.billing_name_address-section .crm-section,
form#Main .crm-section.credit_card_number-section,
form#Main .crm-section.cvv2-section,
form#Main .crm-section.credit_card_exp_date-section,
form#Main .crm-public-form-item.crm-section.is_recur-section {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
}

form#Main .content,
form#Main .content.contribution_amount-content,
form#Main .content.other_amount-content {
  margin: 0;
}

form#Main .label {
  width: auto;
}

form#Main input#price_5,
form#Main input#onbehalf_organization_name,
form#Main input#onbehalf_phone-3-1,
form#Main input#onbehalf_email-3,
form#Main input#onbehalf_street_address-3,
form#Main input#onbehalf_city-3,
form#Main input#onbehalf_postal_code-3,
form#Main div#editrow-first_name .content input,
form#Main div#editrow-last_name .content input,
form#Main div#editrow-email-1 .content input,
form#Main fieldset.billing_name_address-group .crm-section.billing_name_address-section .crm-section .content input,
form#Main .crm-section.credit_card_number-section .content input,
.content {
  width: 98.55%;
}

form#Main .crm-public-form-item.crm-section.email-5-section {
  margin-top: 30px;
}

form#Main input#email-5 {
  margin-bottom: 30px;
  width: 98.55%;
}

form#Main div#onBehalfOfOrg,
form#Main div#editrow-email-1 {
  margin-bottom: 15px;
}

form#Main div#on-behalf-block legend {
  padding-top: 20px;
}

form#Main i.crm-i.fa-times {
  color: #941A1D;
  font-size: 22px;
}

form#Main fieldset.billing_name_address-group .crm-section.billing_name_address-section .crm-section .content select,
form#Main div#s2id_billing_state_province_id-5 {
  width: 100%;
}

form#Main #crm-block .input.crm-form-text {
  border-radius: 0;
}

form#Main a.select2-choice.select2-default {
  border-radius: 0;
  box-shadow: none;
}

form#Main div#s2id_billing_state_province_id-5,
form#Main div#s2id_onbehalf_country-3,
form#Main div#s2id_onbehalf_state_province-3,
form#Main div#s2id_honor_prefix_id {
  min-width: 100%;
}

form#Main a.select2-choice {
  height: 48px;
}

form#Main div#s2id_billing_state_province_id-5 {
  max-width: 100%;
}

