<div class="page-wrapper">
  {% include directory ~ '/partials/header.html.twig' %}
  
  <main>
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  
    <!-- Left side links -->
    <ul class="carousel__links carousel__links--mobile" aria-hidden="true">
      <li class="carousel__link-wrap">
        <a class="carousel__link carousel__link--bio" href="#">Read Our Biographies</a>
      </li>
      <li class="carousel__link-wrap">
        <a class="carousel__link carousel__link--member" href="#">Become a Member</a>
      </li>
      <li class="carousel__link-wrap">
        <a class="carousel__link carousel__link--da" href="#">Join Our
          <br /> Digital Archive</a>
      </li>
    </ul>
  
    {# <div id="hero-carousel" class="carousel slide" data-ride="carousel">
  
      <div class="carousel-inner">
  
        <!-- Left side links -->
        <ul class="carousel__links">
          <li class="carousel__link-wrap">
            <a class="carousel__link carousel__link--bio" href="#">Read Our Biographies</a>
          </li>
          <li class="carousel__link-wrap">
            <a class="carousel__link carousel__link--member" href="#">Become a Member</a>
          </li>
          <li class="carousel__link-wrap">
            <a class="carousel__link carousel__link--da" href="#">Join Our
              <br /> Digital Archive</a>
          </li>
        </ul>
  
        <!-- Caption overlay -->
        <div class="carousel__inner-caption"></div>
  
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <!-- Uses image temporarily hosted on codepen until custom module/block is created -->
          <img class="carousel__image d-block w-100" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324671/slide-1.jpg" alt="First slide">
          <div class="carousel-caption">
            <q class="carousel__quote">I counted everything. I counted the steps to the road, the steps up to church, the number of dishes and silverware
              I washed…anything that could be counted, I did.</q>
            <cite class="carousel__cite">Katherine G. Johnson</cite>
          </div>
        </div>
        <div class="carousel__caption">
          <q class="carousel__quote">I counted everything. I counted the steps to the road, the steps up to church, the number of dishes and silverware
            I washed…anything that could be counted, I did.</q>
          <cite class="carousel__cite">Katherine G. Johnson</cite>
        </div>
  
        <!-- Slide 2 -->
        <div class="carousel-item">
          <!-- Uses image temporarily hosted on codepen until custom module/block is created -->
          <img class="carousel__image d-block w-100" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324671/slide-2.jpg" alt="Second slide">
          <div class="carousel-caption">
            <q class="carousel__quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget imperdiet mauris. Phasellus laoreet odio purus,
              nec facilisis quam consequat sit amet. Aliquam erat volutpat.</q>
            <cite class="carousel__cite">Lorem Ipsum</cite>
            </div>
        </div>
        <div class="carousel__caption">
          <q class="carousel__quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget imperdiet mauris. Phasellus laoreet odio purus,
            nec facilisis quam consequat sit amet. Aliquam erat volutpat.</q>
          <cite class="carousel__cite">Lorem Ipsum</cite>
        </div>
  
      </div>
  
      <ol class="carousel-indicators">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
      </ol>
    </div> #}
  
    <div class="wrapper row wrapper--home gutter-60">
  
      <section class="col-sm-6 bios">
        <h2 class="headline--lg headline--oswald-light headline--secondary">Biographies</h2>
        <div class="bio-desc">
          <p>With over 2,800 biographies, The HistoryMakers features lorem ipsum. Cras sit amet odio, urna ac, magna. Donec a maximus
          nisi. Cras feugiat elit faucibus, felis ac, porttitor nulla. Praesent risus nibh, feugiat a odio eu, finibus porta
          elit, non ullamcorper enim euismod a. Integer nibh ante, ullamcorper sed convallis in, auctor ornare nunc. Donec euismod
          lorem est, vel rhoncus nisl vestibulum eu. Curabitur mi tellus, varius sed ornare vel.</p>
        
          <a href="" class="button button--secondary">Explore the Biographies</a>
          <a href="">Advanced Search</a>
        </div>
    
        <section>
          <h3 class="sr-only">List of Biography Categories</h3>
          <ul class="bio-list">
            <li class="bio-list__category">
              <!-- using javascript:void until routes are created -->
              <a href="javascript:void(0)" class="bio-list__link-wrapper">
                <h4 class="headline headline--md headline--oswald-light headline--secondary">ArtMakers</h4>
                <div class="bio-list__img-wrapper">
                  <div class="bio-list__img-overlay"></div>
                  <img class="bio-list__img" src="http://via.placeholder.com/170x170" alt="">
                </div>
                <div class="bio-list__desc">ArtMakers have produced creative work in the areas of visual art, graphic art and...</div>
              </a>        
            </li>
            <li class="bio-list__category">
              <a href="javascript:void(0)" class="bio-list__link-wrapper">
                  <h4 class="headline headline--md headline--oswald-light headline--secondary">BusinessMakers</h4>
                  <div class="bio-list__img-wrapper">
                    <div class="bio-list__img-overlay"></div>
                    <img class="bio-list__img" src="http://via.placeholder.com/170x170" alt="">
                  </div>
                  <div class="bio-list__desc">BusinessMakers have been recognized for their accomplishments in leading, managing,...</div>
                </a>          
            </li>
            <li class="bio-list__category">
              <a href="javascript:void(0)" class="bio-list__link-wrapper">
                <h4 class="headline headline--md headline--oswald-light headline--secondary">CivicMakers</h4>
                <div class="bio-list__img-wrapper">
                  <div class="bio-list__img-overlay"></div>
                  <img class="bio-list__img" src="http://via.placeholder.com/170x170" alt="">
                </div>
                <div class="bio-list__desc">CivicMakers have contributed substantially to their communities either by working for...</div>
              </a>
            </li>
          </ul>
        </section>
      </section>
  
      <section class="col-sm-6 da">
          <h2 class="headline--lg headline--oswald headline--primary">Digital Archives</h2>
          <div class="da-desc">
            <p>The HistoryMakers Digital Archive is an easy-to-use online database of thousands of African Americans from a broad range of backgrounds and experiences. Unlike other primary source resources, The HistoryMakers Digital Archive provides high-quality video content, fully searchable transcripts, and unique content from individuals whose life stories would have been lost were it not for The HistoryMakers.</p>
            
            <a href="" class="button button--primary">Subscribe Now</a>
            <a href="" class="button button--quaternary">Explore the Digital Archives</a>
          </div>
  
          <img class="da-img" src="/themes/custom/hm-public-theme/static/images/da_photos.png" alt="Image of the Digital Archive on multiple devices">
  
          <div class="da__quotes">
            <q class="da__quote">…an inestimable trove to historians.</q>
            <cite class="da__cite">
              <span class="da__cite-name">David Levering Lewis</span>
              Professor Emeritus, New York University
            </cite>    
          </div>
  
          <div class="da__quotes">
            <q class="da__quote">The HistoryMakers Digital Archive is a major contribution to the study of our country.</q>
            <cite class="da__cite">
              <span class="da__cite-name">Sarah Pritchard</span>
              Dean of Libraries, Northwestern University
            </cite>
          </div>
  
          <div class="da__quotes">
            <q class="da__quote">The HistoryMakers has revolutionized African American Studies for generations to come.</q>
            <cite class="da__cite">
              <span class="da__cite-name">Isabel Singer</span>
              Student, Yale University
            </cite>
          </div>
  
      </section>
  
    </div>
  </main>
</div>

{% include directory ~ '/partials/footer.html.twig' %}
