<h1>Welcome DigitalMaker!</h1>

<h3>You now have access to everything in The HistoryMakers Digital Archive.  As a DigitalMaker, you now have:</h3>
<ul>
    <li>Unlimited access to our digitized, streaming video oral interviews on The HistoryMakers Digital Archive. This is the same content that is housed permanently at the Library of Congress</li>
    <li>Unlimited access to 10,000 hours of video oral history interviews</li>
    <li>Special invitations to our Public Programs</li>
    <li>A personal playlist for easy storage and retrieval of your significant content</li>
    <li>Inclusion in The HistoryMakers mailing list</li>

	<li>Access thousands of HistoryMaker biographies of African American leaders across a variety of disciplines</li>
	<li>Create your own profile page for easy storage and retrieval</li>
	<li>See how your favorite food, color, season, vacation destination or favorite phrase or saying compares to that of our HistoryMakers</li>
	<li>Receive our weekly newsletter and access past issues of our newsletters</li>
	<li>Be included on The HistoryMakers mailing list</li>
	<li>Access the nominations you submitted to us</li>
	<li>Access your order and donation history</li>
	<li>Access the ScienceMakers Digital Archive [link should be included here] providing free access to the video oral history interviews of leading African American scientists</li>
	<li>Upgrade to The HistoryMakers Digital Archive for $30/month or /$300/year giving you unique access to all the video content in The HistoryMakers Digital Archive.</li>
</ul>

<h3>Start watching interviews of your favorite HistoryMakers now!</h3>

{#<a class="button button--primary" href="https://thmda-auth-www.azurewebsites.net/?jwt={{ user_jwt_da }}" target="_blank">
	Get Started
</a>#}
<a class="button button--primary" href="user">
	Get Started
</a>