{# Template for Store purchase thank you message #}
<img alt="The HistoryMakers Logo" height="39" width="500" src="https://devwww.thehistorymakers.org/themes/custom/hm-public-theme/static/images/THM_logo.png" />

<h1 style="margin-top: 30px;">Thank you for your purchase!</h1>
<p>A receipt will be emailed to you shortly.</p>