<div class="basic-block">
  <h1>My apologies it appears you are not a DigitalMaker.</h1>
  <p>To become a DigitalMaker and have full access to the Digital Archives you can upgrade your membership and access by going to the <a href="{{ drupal_url('/become-a-member') }}">Become a Member</a> page.</p>
</div>