<img alt="The HistoryMakers Logo" height="39" width="500" src="https://devwww.thehistorymakers.org/themes/custom/hm-public-theme/static/images/THM_logo.png" />

<h1 style="margin-top: 30px;">Thanks for your Donation!</h1>

<h3>The HistoryMakers</h3>

<p>Date:</p>
<p>Time:</p> 
<p>The HistoryMakers is a 501 (c ) (3) not for profit tax exempt organization and this donation of $__________ is tax deductible to the fullest extent permitted under the law.
</p>