@import './shared/theme/base';

video {
  max-width: 500px;
  margin: 0 auto;
}

vg-player {
  height: auto;
}

.vg-controls {
  align-items: center;
  background-color: color(grey);
  height: em(30);
}

.vg-controls__inner-wrapper {
  align-items: center;
  display: flex;
  flex: 2;
  margin: 0 auto;
  max-width: em(500);

  //IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    max-width: 100%;
  }
}

.vg-play-pause { width: em(30); }

.vg-scrub-bar-current-time {
  align-items: center;
  background-color: color(dark-grey);
  height: em(2);
  position: relative;
  top: initial;

  .background {
    border: 1px solid color(primary);
  }

  .slider {
    background-color: color(primary);
    box-shadow: none;
    height: em(12);
    margin-top: 0;
    width: em(12);
  }
}

.vg-play-pause,
.vg-time-display,
.vg-scrub-bar,
.vg-volume {
  align-items: center;
  color: color(dark-grey);
  height: em(30);
}

.vg-time-display {
  flex: 0;
  margin: 0 em(5);

  //IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex: 0 1 auto;
    width: auto;
  }

  //Safari
  &:not(:root:root) {
    flex: 0 1 auto;
    width: auto;
  }
}

.vg-scrub-bar {
  display: flex;
  width: 25.2777777777778%;

  //IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: auto;
  }
}

.vg-volume {
  margin: 0 em(10);
  width: 11.1111111111111%;
}

.vg-volume .volumeBackground {
  background-color: color(dark-grey);
  height: em(2);
}

.vg-volume .volumeValue {
  background-color: color(primary);
  height: em(2)
}

.vg-volume .volumeKnob {
  background-color: color(primary);
  height: em(12);
  width: em(12);
}

.vg-full-width {
  margin: 0 em(10);
}

.vg-volume-speaker,
.vg-volume,
.vg-full-width {
  @media screen and (max-width: bp(medium)) {
    display: none;
  }
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

// story styles
.col-sm-5,
.col-sm-7 {
    @media screen and (width: 768px) {
        width: 100%;
    }
}

.full-width-mobile {

    @media screen and (max-width: bp(medium)) {
        margin-top: - em(40);
        padding: 0;
    }
}

.selected {
    background-color: rgba(45,133,211,.3);
    color: black;
}

.row--top {
    display: flex;
    margin-bottom: 30px;

    .col-left {
        display: flex;
        flex-direction: column;
    }

    .page-title {
        flex: 2;
    }

    .button-bar {
        margin: 0;
    }
}

.search__links-container {
    margin-bottom: 0;
}

.search__routerLink {
    margin-bottom: 0;
}

.search--desktop {
    margin-bottom: 0;
}

.button-bar {
    align-items: center;
    display: flex;
    margin-top: em(16);
    margin-bottom: 0.5em;
}

.video-header {
    @extend %oswald;
    @extend %mobile-only;

    background-color: color(dark-grey);
    color: #fff;
    font-size: rem(18);
    letter-spacing: -.5px;
    line-height: em(22, 18);
    margin-bottom: 0;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.video-header__category {
    text-transform: capitalize;
}

.video-title {
    display: inline-block;
}

.video-container {
    margin: 0 auto rem(30, 16);
    max-width: rem(1440, 16);
}

.videoBlock {
    display:block;
    margin: 0 auto;
    max-width: 320px; /* TODO: decide if we want greater than 1x display width, or stay at max 1x display width which is 320 pixels */
    min-height: 180px;
    height: auto;
    object-fit: fill;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.about {
    /* TODO: Later, dress up with gradient backgrounds, e.g.,
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    */
    padding: em(37) 0;
    margin-bottom: 0.5em;

    &--mobile {
        @extend %mobile-only;

        display: none;
        padding: em(14) 0;
    }

    &--mobile-active {
        @media screen and (max-width: bp(medium) + 1) {
            display: inherit;
        }
    }

    &--desktop {
        @extend %desktop-only;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.about__section {
    border-bottom: 1px solid color(grey);
    margin-bottom: em(10);
    padding-bottom: em(12);

    @media screen and (min-width: bp(medium)) {
        margin-bottom: em(16);
        padding-bottom: em(16);
    }

    &:first-of-type {
        margin-top: em(22);

        @media screen and (min-width: bp(medium)) {
            margin-top: 0;
        }
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

.about__heading {
    @extend %oswald;

    color: color(dark-grey);
    font-size: em(16);
    letter-spacing: -.4px;
    line-height: em(20,16);
    text-transform: uppercase;

}

.about__copy--favorites {
    margin: 0;
}

.about__link,
.about__link:visited {
    @extend %source-sans-semi-bold;
    color: color(primary);
}

.transcriptTextArea {
    display: inline;
}

.shadowview {
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
    margin-top: 2px;
    margin-bottom: 6px;
}
.storyduration {
    text-align: center;
    color: #1E1810;
    font-size: 0.9em;
    line-height: 0.95em;
    margin-top: 0.4em;
}
.bumpUp {
    margin-top: 0.0em;
    margin-bottom: 0.3em;
    margin-right: 0em;
    margin-left: 0em;
}

input {
    color: #1E1810;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.adjust-height {
  overflow-x: hidden;
  overflow-y: auto;
}

.next-vid__row {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.video__title,
.next-vid__title {
  color: color(secondary);
  font-weight: 700;
}

.video__title { font-size: rem(18); }

.next-vid__preview:hover {
  cursor: pointer;
}

.next-vid__thumb {
  font-size: rem(14);
  max-width: 100%;
}

.next-vid__da-button {
  @extend %oswald;
  background-color: #682052;
  border: 1px solid transparent;
  color: #fff;
  display: block;
  font-size: rem(25);
  font-weight: 400;
  line-height: 1.2;
  padding: em(15, 25);
  margin-top: em(10, 25);
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #fff;
    border: 1px solid #682052;
    color: #682052;
    text-decoration: none;
  }
}

.overlay-play-container::before {
  background: #fff;
  border-radius: 100%;
  color: #941A1D;
}

.hero-vid__right-col {
  background-color: #fff;
  padding: rem(30, 16) rem(70, 16) rem(60, 16) rem(30, 16);
}

.hero-vid__title {
  @extend %oswald;
  font-size: 2rem;
}

.hero-vid__body {
  @extend %source-sans;
  font-size: 1.5rem;
  line-height: 120%;
}
