.timeline_cont.glossary {

  .pager__item {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 769px) {
    display: inline-block;
    padding-right: 40px;

    .pages {
      background: $white;
      display: block;
      height: 100vh;
      margin: 0;
      min-width: 0;
      overflow:auto;
      padding: 0 !important;
      position: absolute;
      right: 0;
      width: auto;
    }

    nav.pager {
      float: right;
      text-align: center;
      width: 49px;

      .pager__item {
        margin-bottom: 0;
        position: relative;
        text-align: center;

        & > a {
          display: flex;
          margin: 0;
          width: 49px;
          min-height:49px;
          align-items:center;
          justify-content:center;
        }

      }

    }

  }

}
