.front {
  section.content {
    padding: 5px;

    h2 {
      font-weight: 100;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

// Begin carousel styles 
.carousel__links {
  @extend %oswald;
  font-size: rem(25);
  line-height: 1.2;
  position: absolute;
  top: em(62, 25);
  width: em(170, 25);
  z-index: 100;

  @media screen and (max-width: 767px) {
    display: none;
    font-size: rem(16);
  }
}

.carousel__links--mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
  }
}

.carousel__link-wrap {
  display: flex;
  transition: background-color .2s ease-in-out;

  &:nth-of-type(1) {
    background-color: color(secondary);
  }

  &:nth-of-type(2) {
    background-color: color(primary);
  }

  &:nth-of-type(3) {
    background-color: color(quaternary);
  }

  &:nth-of-type(1):hover,
  &:nth-of-type(2):hover,
  &:nth-of-type(3):hover {
    background-color: $white;
  }

  @media screen and (max-width: 767px) {
    flex: 1;
  }
}

.carousel__link {
  color: $white;
  display: flex;
  padding: em(15, 25);

  &:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    flex: 1;
  }
}

.carousel__link--bio:hover { color: color(secondary); }
.carousel__link--member:hover { color: color(primary); }
.carousel__link--da:hover { color: color(quaternary); }

.carousel__caption {
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: auto;
  opacity: 0;
  padding: em(30) em(60) em(30) em(30);
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 33.0739299610895%;
  z-index: 300;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.active+.carousel__caption {
  opacity: 1;
}

.carousel__inner-caption {
  background: color(primary);
  height: 100%;
  opacity: 0.85;
  position: absolute;
  right: 0;
  top: 0;
  width: 33.0739299610895%;
  z-index: 100;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.carousel__quote {
  font-family: 'Oswald', sans-serif;
  font-size: rem(37);
  font-weight: 300;
  line-height: 127.027027027027027%;
  quotes: '\201C' '\201D';
  text-align: left;

  @media screen and (max-width: 767px) {
    font-size: rem(22);
  }
}

.carousel__cite {
  @extend %source-sans-semi-bold;
  display: block;
  margin-top: em(21, 37);

  @media screen and (max-width: 767px) {
    font-size: rem(12);
  }
}

.active .carousel__image {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: ken-burns;
  animation-timing-function: linear;
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}


.carousel-item-left .carousel__caption {
  opacity: 0;
}

.carousel-caption {
  background-color: color(primary);
  display: none;
  left: auto;
  position: relative;
  right: auto;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    font-size: rem(22);
    padding: em(22, 22) em(30, 22) em(75, 22);
    text-align: left;
  }
}

.active .carousel__caption {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.carousel-indicators {
  left: auto;
  z-index: 500;

  @media screen and (max-width: 767px) {
    bottom: em(50);
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

.carousel-indicators li {
  background-color: color(dark-grey);
  border-radius: 50%;
  height: em(10);
  margin-right: em(10);
  width: em(10);
}

// End carousel styles 

.wrapper {
  display: flex;
  padding: em(40) 0;
}

.wrapper--home { background-color: color(light-grey); }

// Biographies and Digital Archives
.headline--lg {
  font-size: rem(45);

  @media screen and (max-width: 767px) {
    font-size: rem(31);
  }
}
.headline--md { font-size: rem(20); }
.headline--oswald-light { @extend %oswald-light; }
.headline--oswald { @extend %oswald; }
.headline--primary { color: color(primary); }
.headline--secondary { color: color(secondary); }

.bio-list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.bio-list__category {
  width: 29.8245614035088%;
}

.bio-list__img { width: 100%; }
.bio-list__desc { color: color(dark-grey); }
.bio-list__link-wrapper:hover { text-decoration: none; }
.bio-list__link-wrapper:hover .bio-list__desc { text-decoration: underline; }
.bio-list__img-wrapper { position: relative; }

.bio-list__link-wrapper {
  display: flex;
  flex-direction: column;
}

.bio-list__category:hover .bio-list__img-overlay,
.bio-list__link-wrapper:focus .bio-list__img-overlay {
  background-color: color(secondary);
  height: 100%;
  opacity: .6;
  position: absolute;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

.bio-desc,
.da-desc {
  margin-bottom: rem(55);

  @media screen and (max-width: 767px) {
    font-size: rem(12);
    line-height: em(18, 12);
  }
}

.da {
  border-left: em(2) solid color(medium-grey);
}

.da-img {
  width: 100%;
}

.da__quotes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 em(15);
  padding: em(32) em(70);
  text-align: center;

  &:last-of-type {
    border-bottom: em(2) solid color(medium-grey);
  }
}

.da__quote {
  font-size: rem(22);
}

.da__cite {
  font-style: normal;
}

.da__cite-name {
  @extend %source-sans-semi-bold;
  display: block;
  margin-top: em(15);
}

// 60px gutter
.gutter-60 > [class^='col-'], .gutter-60 > [class^='col-'] {
  padding-left: em(30);
  padding-right: em(30);
}

.views-element-container {
  display: none;
}
