// Biographies and Digital Archives
.headline--lg {
  font-size: rem(45);

  @media screen and (max-width: 767px) {
    font-size: rem(31);
  }
}
.headline--md { font-size: rem(20); }
.headline--oswald-light { @extend %oswald-light; }
.headline--oswald { @extend %oswald; }
.headline--primary { color: color(primary); }
.headline--secondary { color: color(secondary); }

.bio-list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.bio-list__category {
  width: 29.8245614035088%;
}

.bio-list__img { width: 100%; }
.bio-list__desc { color: color(dark-grey); }
.bio-list__link-wrapper:hover { text-decoration: none; }
.bio-list__link-wrapper:hover .bio-list__desc { text-decoration: underline; }
.bio-list__img-wrapper { position: relative; }

.bio-list__link-wrapper {
  display: flex;
  flex-direction: column;
}

.bio-list__category:hover .bio-list__img-overlay,
.bio-list__link-wrapper:focus .bio-list__img-overlay {
  background-color: color(secondary);
  height: 100%;
  opacity: .6;
  position: absolute;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

.bio-desc,
.da-desc {
  margin-bottom: rem(55);

  @media screen and (max-width: 767px) {
    font-size: rem(12);
    line-height: em(18, 12);
  }
}

.da {
  border-left: em(2) solid color(medium-grey);
}

.da-img {
  width: 100%;
}

.da__quotes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 em(15);
  padding: em(32) em(70);
  text-align: center;

  &:last-of-type {
    border-bottom: em(2) solid color(medium-grey);
  }
}

.da__quote {
  font-size: rem(22);
}

.da__cite {
  font-style: normal;
}

.da__cite-name {
  @extend %source-sans-semi-bold;
  display: block;
  margin-top: em(15);
}

// 60px gutter
.gutter-60 > [class^='col-'], .gutter-60 > [class^='col-'] {
  padding-left: em(30);
  padding-right: em(30);
}

.field-da-image img {
  height: auto;
  width: 100%;
}
