.my-account {
  @extend %max-width;
  @extend %default-gutter-width;

  //Update button
  #userDetails a {
    text-align: center;
    width: 100%;
  }

  .my-account__content .contextual-region > div {
    border-top: 1px solid color(medium-grey);
    padding-top: 15px;
  }

  .my-account__content .block {
    margin-top: 30px;

    h2 {
      @extend %h2;
      margin-bottom: 30px;
    }

  }

  .my-account__content {

    //My Favorites Block
    #webform-4 form {
      display: flex;
      flex-flow: row wrap;
    
      .form-item {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
      }

      .form-required {
        margin-right: 5px;
      }

      .form-item select,
      .form-item input {
        width: 90%;
      }

      .webform-button--submit {
        margin-right: 0;
        width: 150px;
      }
    
    }

  }

}//.my-account
