//Special Collections
.view.list-special-collections {
  @extend %max-width;

  .pager {
    @extend %max-width;
    @extend %default-gutter-width;
    margin-top: 30px;
    width: 80%;

    @media screen and (max-width: 1024px) {
      width: 90%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

  }

}

.view.list-special-collections .view-content {
  @extend %default-gutter-width;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .special-collections--card {
    align-content: center;
    margin: 0 1em 1em 0;
    max-width: 31%;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      max-width: 50%;
      min-width: 45%;
    }

    @media screen and (max-width: 520px) {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      min-width: 100%;
    }

    @media screen and (max-width: 400px) {
      flex: 1 0 auto;
    }

  }

}

//Collection Detail
.special-collections--content {
  @extend %max-width;

  .special-collections--descript {
    @extend %default-gutter-width;
  }

}

.special-collections--interviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .special-collections--card {

    p {
      @extend %text-overflow;
      margin-top: 0;
    }

  }

}
