body.overflowHidden {
  overflow-y: hidden;
}

.timeline_cont {
  display: block;
  margin: auto;
  max-width: 100%;

  .filters__button {
    align-items: center;
    background-color: color(quaternary);
    border-radius: 0;
    cursor: pointer;
    display: flex;
    float: right;
    justify-content: space-around;
    margin: 20px;
    padding: .42857143em 1.07142857em;
    text-transform: uppercase;

    @media screen and (min-width: 838px) {
      display: none;
    }

  }

  img {
    float: left;
    height: 150px;
    margin-left: -10px;
    width: 150px;
  }

  .img {
    float: left;
    height: 130px;
    margin-right: 20px;
    overflow: hidden;
    width: 130px;
  }

  h4 {
    display: inline-block;
    margin-right: 10px;
  }

  h3 {
    display: inline-block;
  }

  .info {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  p {
    margin: 0;
  }

  & > p {
    padding: 20px;
    width: 100%;

    @media screen and (min-width: 838px) {
      margin: 40px 30px;
      width: 70%;
    }

  }

  .pages {
    display: inline-block;
    margin: 30px;
    min-width: 350px;
  }

  .timeline_list {
    display: block;
    float: left;
    padding: 30px;
    width: 100%;

    @media screen and (min-width: 838px) {
      margin-left: 30px;
      width: 70%;
    }

  }

  .filters.open form {
    @media screen and (max-width: 838px) {
      height: 100%;
      overflow-y: auto;
      padding: 30px 0 0;

      label {
        padding: 0 30px;
      }
      .form-type-select {
        position: relative;
      }
      .form-type-select:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid;
        content: '';
        display: inline-block;
        height: 0;
        margin-bottom: 0;
        margin-top: -22px;
        position: absolute;
        right: 40px;
        vertical-align: middle;
        width: 0;
      }
      select {
        margin: 0 30px;
        width: calc(100% - 60px);
      }
      @media screen and (min-width: 838px) {
        padding: 0;
      }
      &>div {
        height: 100%;
      }
      .form-submit {
        bottom: 0;
        margin-bottom: 0;
        position: absolute;
        text-transform: uppercase;
      }
     }
  }
  .filters {
    background: color(light-grey);
    display: inline-block;
    left: 0;
    position: fixed;
    top: -999px;
    transition: top 500ms linear;
    width: 100%;
    &.open {
      height: 100%;
      top: 0;
      z-index: 503;
    }

    @media screen and (min-width: 838px) {
      margin-left: 100px;
      position: inherit;
      width: 117px;
    }

    .filters__header {
      background-color: $white;
      display: flex;
      justify-content: space-between;
      padding: .75em .875em .5em;

      @media screen and (min-width: 838px) {
        display: none;
      }

      .filters__header-title {
        font-size: 1.125em;
        letter-spacing: .02777778em;
        line-height: inherit;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .filters__header-button {
        background-color: transparent;
        color: color(secondary);
        letter-spacing: .04357143em;
        padding: 0;
      }

    }

  }

  .filters select {
    appearance: none;
    background-color: $white;
    border: 1px solid color(quaternary);
    border-radius: 0;
    color: color(quaternary);
    height: 40px;
    margin-top: 10px;
    padding: 0 20px;
    width: 100%;
  }
  .filters .form-type-select {
    position: relative;
  }

  .filters .form-type-select:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid;
    content: '';
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    margin-top: -22px;
    position: absolute;
    right: 10px;
    vertical-align: middle;
    width: 0;
  }

  .filters .form-item {
    margin: 0 0 10px;
  }

  .filters .form-submit {
    width: 100%;
  }

  .timeline_list li {
    border-top: 1px solid color(medium-grey);
    display: block;
    float: left;
    padding-bottom: 10px;
    width: 100%;
  }

  .form-submit {
    background-color: color(secondary);
    border-radius: 0;
    font-size: 15px;
    height: 3.07142857em;
    width: 100%;

  }

}
