.button.button,
%button {
  @extend %source-sans-semi-bold;
  border-radius: 0;
  font-size: rem(16);
  margin-right: em(15);
  padding: em(13) em(14) em(16);

  @media screen and (max-width: 767px) {
    font-size: rem(11);
  }
}

.button.button--primary,
%button--primary {
  background-color: color(primary);
  border: em(1) solid transparent;
}

.button.button--secondary,
%button--secondary {
  background-color: color(secondary);
  border: em(1) solid transparent;
}

.button.button--quaternary {
  background-color: color(quaternary);
  border: em(1) solid transparent;
}

// hover and focus state
.button.button--primary:hover,
.button.button--primary:focus,
%button--primary-focus {
  background-color: $white;
  border: em(1) solid color(primary);
  color: color(primary);
}

.button.button--secondary:hover,
.button.button--secondary:focus, {
  background-color: $white;
  border: em(1) solid color(secondary);
  color: color(secondary);
}

.button.button--quaternary:hover,
.button.button--quaternary:focus {
  background-color: $white;
  border: em(1) solid color(quaternary);
  color: color(quaternary);
}

//Membership Button
.button.button--primary.button--membership {
  @extend %oswald;
  font-size: em(30);
  line-height: 120%;
  margin: em(10) em(8) em(10) 0;
  max-width: 6em;
  padding: .5em 1em .5em .5em;
}
