.footer {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-top: em(60);
  padding: em(35) 0 em(85);
  width: 100%;
}

#hm-public-theme-footer {
  .menu-item {
    padding: em(10);
  }

  a {
    color: color(secondary);
  }
}

.address {
  font-style: normal;
}
