// We need to be able to extend a class in this unique case
// because we do not have control over the markup.
// sass-lint:disable placeholder-in-extend

.header {
  background-color: color(light-grey);
  color: color(dark-grey);
  width: 100%;
}

.header__top-row {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: $max-width;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__da-links {
  background-color: $white;
  cursor: pointer;
  padding: em(16, 15) em(20, 15);
  position: relative;
}

.header__da-links-title {
  @extend %source-sans-semi-bold;
  color: color(secondary);
  font-size: rem(15);
}

.header__da-link-container {
  background-color: $white;
  left: 0;
  opacity: 0;
  padding: em(16, 15) em(20, 15);
  position: absolute;
  width: 100%;

  .header__da-links:hover & {
    opacity: 1;
  }
}

.header__da-link {
  @extend %source-sans;
  display: block;
  font-size: rem(14);
  margin-top: em(10, 14);
}

.header__donate-link {
  @extend %source-sans-semi-bold;
  color: color(dark-grey);
  padding: em(16, 15) em(20, 15);

  &:hover {
    color: color(dark-grey);
  }
}

.header__logo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: em(45);
}

// Margin and width are there to align the logo with bottom text.
.header__logo {
  margin-left: em(5);
  max-width: em(380);
}

.header__logo-copy {
  @extend %oswald-light;
  color: color(dark-grey);
}

#hm-public-theme-main-menu {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $default-grid-gutter-width;

  @media screen and (max-width: 767px) {
    left: - em(600, 16);
    padding: 0 em(15, 16) em(15, 16);
    transition: left .3s ease-in-out;
    width: 70vw;
  }

  &.hm-public-theme-main-menu--open {
    left: 0;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 767px) {
      flex: 2;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
    }
  }

  .menu-item {
    @extend %oswald;
    border-bottom: em(8) solid transparent;
    letter-spacing: .114em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      border-bottom: em(1, 16) solid $white;
      padding: em(12, 16) em(8, 16);
  }

    & .is-active {
      color: color(tertiary);

      // @media screen and (max-width: 767px) {
      //   border-bottom: em(3,16) solid color(tertiary);
      //   text-decoration: none;
      // }
    }

    a:hover {
      border-bottom: em(8) solid color(secondary);
      transition: border-bottom .2s ease-in-out;

      @media screen and (max-width: 767px) {
        border-bottom: 0;
      }
    }

    .is-active {
      border-bottom: em(8) solid color(tertiary);
      transition: border-bottom .2s ease-in-out;

      @media screen and (max-width: 767px) {
        border-bottom: 0;
      }
    }

    a {
      color: color(dark-grey);

      &:hover { text-decoration: none; }
    }
  }
}

.profile {
  margin-left: auto;
  margin-right: em(22);
}

.profile__option { @extend %list-item-no-styles; }

.profile__link,
.profile__link:hover {
  background-color: transparent;
  color: color(dark-grey);
}

.profile__link:hover { text-decoration: underline; }

.social {
  @extend %list-no-styles;
  align-items: baseline;
  border-left: 1px solid color(medium-grey);
  display: flex;
  padding: em(16, 15) em(20, 15) em(16, 15) 0;
}

.social__item { @extend %list-item-no-styles; }

.social__icon {
  color: color(tertiary);
  height: em(18);
  margin-left: em(22);
  transition: color .2s ease-in-out;
  width: auto;

  &:first-of-type { height: em(22); }

  &:hover {
    color: color(secondary);
    cursor: pointer;
  }
}

.header nav {

  @media screen and (max-width: 767px) {
    background: color(light-grey);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2000;
  }
}

// Sign Up / In Modal
.modal {

  .description {
    @extend %sr-only;
  }

  .button {
    @extend .button--secondary;
    min-width: 100px;
    text-align: center;
  }
}

.modal input {
  margin-bottom: em(8);
  max-width: 100%;
}

.modal-header {
  border-bottom: 0;
  justify-content: flex-end;
}

.modal__heading {
  @extend %oswald;

  font-size: em(28);
}

.modal-footer { border-top: 0; }

.modal-dialog {
  @media screen and (min-width: 567px) {
    max-width: em(700);
  }
}

.modal__register {
  align-items: center;
  border-right: 1px solid color(medium-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__login {
  .button {
    display: block;
    margin-left: auto;
  }
}
