html, body {
  font-family: $default-font;
  height: 100%;
  line-height: pxtorem($default-line-height);
}

.page-wrapper {
  position: relative;
}

a {
  text-decoration: none;
}

li.node-readmore a:after {
  @include icomoon('caret-right');
  font-size: 50%;
  vertical-align: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default-font;
  margin: 0 0 5px;
}

//Correct position of First Sidebar
.column.sidebar.first {
  flex-basis: 20%;
  min-width: 20%;
  order: 1;
  padding: 0;
}

.content.column,
.columns-middle .content.column {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  order: 2;
}

.columns-middle .sidebar.second {
  flex-basis: 20%;
  min-width: 20%;
  order: 3;
  padding: 0;
}

//Place Back to Top button below views
div#buttonbacktotop {
  order: 2;
}

.views-element-container.contextual-region {
  order: 1;
}

//Custom Layout
.layout-1-1col {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
}
