html, body {
  font-family: $default-font;
  height: 100%;
  line-height: pxtorem($default-line-height);
}

a {
  text-decoration: none;
}

li.node-readmore a:after {
  @include icomoon('caret-right');
  font-size: 50%;
  vertical-align: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default-font;
  margin: 0 0 5px;
}

.row.layout-1-2col-3-9 {
  margin-left: 0;
  margin-right: 0;
}

//Correct position of First Sidebar
.column.sidebar.first {
  flex-basis: 20%;
  min-width: 20%;
  order: 1;
}

.content.column,
.columns-middle .content.column {
  flex: 1 auto;
  order: 2;
}

.columns-middle .sidebar.second {
  flex-basis: 20%;
  min-width: 20%;
  order: 3;
}
