nav ul {
  @include inline-list;
}

//Pager
.pager {

  .pager__item {
    @extend %source-sans-semi-bold;
    font-size: em(18);
  }

  .pager__item > a {
    margin-right: em(20);
  }

  .pager__item.is-active > a {
    background: color(secondary);
    color: $white;
    margin-right: em(10);
    padding: em(10) em(15);
  }

}

li.pager__item.pager__item--last,
li.pager__item.pager__item--first,
li.pager__item.pager__item--ellipsis {
  display: none;
}

//MegaMenu
.simple-mega-menu-type-education-megamenu .name {
  display: none;
}

//Hides required child nav item to show the megamenu
#hm-public-theme-main-menu .menu-item--expanded:hover .mega-menu-wrapper ul {
  display: none;
}
