.authorize-net-accept-js-form.form-wrapper {
  border-top: 1px solid color(medium-grey);
  display: flex;
  margin: 0 10px 30px 0;
  padding: 15px 0 0;

  @media screen and (max-width: 600px) {
    margin-right: 0;
    width: 100%;

    &>input {
      margin-right: 0;
      width: 100%;
    }

  }

}
