//Headers
.layout-checkout-form .checkout-pane .fieldgroup .form-required,
.layout-checkout-form .checkout-pane,
.layout-checkout-form .checkout-pane .fieldgroup {
  @extend %form--header;
}

@media screen and (max-width: 600px) {

  .commerce-checkout-flow-multistep-default.commerce-checkout-flow {
    margin-top: 30px;
  }

}

.checkout-pane.checkout-pane-thm-donation-completion h1,
.checkout-pane-thm-shippable-order-completion h1 {
  @extend %card-header;
  color: color(quaternary);
  flex: 1 100%;
  font-size: 30px;
  padding-bottom: 15px;
}

.checkout-pane.checkout-pane-login {
  @extend %max-width;
  @extend %default-gutter-width;
}

.layout-region.layout-region-checkout-main,
.layout-region.layout-region-checkout-secondary {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 0;
  width: 100%;

  @media screen and (min-width: 0\0) {
    flex: 1 auto;
  }

  .form-wrapper .form-wrapper {
    width: 100%;
  }

}

//Checkout Form
.layout-checkout-form {
  @extend %default-gutter-width;
  @extend %form--container;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  //Contact Info
  .form-item.form-item-contact-information-email.form-type-email {
    @extend %form-field--wrap;
    flex-basis: 100%;
    max-width: none;

    #edit-contact-information-email {
      width: 100%;
    }

  }

  //Shipping information
  .checkout-pane.checkout-pane-shipping-information {
    margin-bottom: 30px;
  }

  #edit-shipping-information-shipping-profile-address-0-address-country-code,
  #edit-shipping-information-shipping-profile-address-0-address-container4 {
    display: flex;
  }

  .form-item-shipping-information-shipping-profile-address-0-address-country-code.form-type-select,
  .form-item-shipping-information-shipping-profile-address-0-address-administrative-area.form-type-select {
    @extend %form-field--wrap;
    max-width: none;
  }

  @media screen and (max-width: 600px) {

    .form-item.form-item-shipping-information-shipping-profile-address-0-address-family-name.form-type-textfield,
    .form-item.form-item-shipping-information-shipping-profile-address-0-address-postal-code.form-type-textfield {
      margin-right: 0;
    }

  }

  .form-item.form-item-shipping-information-shipping-profile-address-0-address-organization.form-type-textfield,
  .form-item.form-item-shipping-information-shipping-profile-address-0-address-address-line1.form-type-textfield,
  .form-item.form-item-shipping-information-shipping-profile-address-0-address-address-line2.form-type-textfield.form-no-label {

    input {
      width: 100%;
    }

  }

  //Shipping method
  .field--type-entity-reference.field--name-shipping-method.field--widget-commerce-shipping-rate {
    border-top: 1px solid color(medium-grey);
    margin-top: 30px;


    legend {
      padding-top: 15px;
    }

  }

  #edit-shipping-information-shipping-profile-address-0-address-country-code {

    .form-item.form-item-shipping-information-shipping-profile-address-0-address-country-code.form-type-select {
      flex-basis: 100%;
    }

    .country.form-select,
    .organization.form-text,
    .address-line1.form-text,
    .address-line2.form-text {
      width: 100%;
    }

  }

  .form-item-payment-information-add-payment-method-payment-details-number,
  .credit-card-form__expiration, .form-item-payment-information-add-payment-method-payment-details-security-code {
    flex: 1;
  }

  .form-item-payment-information-add-payment-method-payment-details-security-code {
    margin-left: 10px;
  }

  //IE Fix
  @media screen and (min-width: 0\0) {

    .form-item-payment-information-add-payment-method-payment-details-number {
      flex: 1 100%;
    }

  }

  //Payment Information
  #payment-information-wrapper {

    #edit-payment-information legend {
      border-top: 1px solid color(medium-grey);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 15px;
    }

    @media screen and (max-width: 600px) {

      #expiration-month,
      #expiration-year,
      #cvv {
        width: 75px;
      }

    }

    #edit-payment-information-add-payment-method-billing-information-address-0-address-country-code {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .form-item-payment-information-add-payment-method-billing-information-address-0-address-country-code {
      @extend %form-field--wrap;
      flex-basis: 100%;
    }

    .country.form-select,
    .organization.form-text,
    .address-line1.form-text,
    .address-line2.form-text {
      width: 100%;
    }

    .form-item-payment-information-add-payment-method-billing-information-address-0-address-administrative-area {
      @extend %form-field--wrap;
    }

    .form-item-payment-information-add-payment-method-billing-information-address-0-address-postal-code {
      max-width: none;
    }

  }

  .checkout-pane.checkout-pane-payment-information .fieldset-wrapper {

    & #edit-payment-information-payment-method--wrapper > legend .fieldset-legend,
    & .form-composite > legend .fieldset-legend {
      @extend %source-sans-semi-bold;
      flex-basis: 100%;
      font-size: 16px;
      line-height: normal;
      margin-bottom: 10px;
    }

  }

  #edit-payment-information-add-payment-method .authorize-net-accept-js-form {
    border-top: 0;
  }

  //Order Summary
  .layout-region.layout-region-checkout-secondary h3 {
    border-top: 1px solid color(medium-grey);
    color: color(quaternary);
    padding-top: 15px;
  }

  table.cols-0 {
    width: 100%;
  }

  .view.list-commerce-checkout-order-summary table tr {
    @extend %product-card;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
    vertical-align: top;

    td {
      padding-right: 15px;
    }

    td.views-field.views-field-purchased-entity {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
    }

    td.views-field.views-field-purchased-entity > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .price {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 30px;
    }

    .field-format {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .field-format .field-items {
      padding-left: 10px;
    }

    .views-field-quantity,
    .views-field-purchased-entity .price > div:first-of-type,
    .views-field-total-price__number,
    .views-field-purchased-entity .field-format > div:first-of-type {
      font-weight: bold;
      padding-right: 10px;
    }

  }

  .total-price {
    @extend %shopping-card;
    margin: 30px 0;

    @media all and ( min-width: $screen-md-min) {
      .field-item:last-of-type {
        margin-right: 15px;
      }

    }

    @media screen and (min-width: 0\0) {
      margin-right: 0;
    }

  }

}//.layout-checkout-form

//Review
#edit-review > fieldset {
  @extend %form--header;
}

.layout-region-checkout-footer #edit-actions > a,
#edit-login-returning-customer-submit + a {
  align-self: center;
}

//Login > User or Guest
.commerce-checkout-flow-multistep-default.commerce-checkout-flow {

  #edit-login {
    padding: 0;
  }

  #edit-login-returning-customer {
    border-right: 1px solid color(medium-grey);
    flex: 1;
    margin-right: 15px;
    padding-right: 20px;
  }

  #edit-login-guest {
    flex: 1;
    margin-left: 15px;
    margin-right: 0;
  }

  @media screen and (max-width: 600px) {

    #edit-login {
      flex-direction: column;
    }

    #edit-login-returning-customer {
      border-bottom: 1px solid color(medium-grey);
      border-right: 0;
      padding: 0 0 30px;
    }

    #edit-login-guest {
      margin-left: 0;
    }

  }

}

#edit-contact-information,
#edit-payment-information {

  .fieldset-wrapper {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .checkout-pane-shipping-information input.button.form-submit {
    margin-top: 15px;
  }

  .form-item.form-item-payment-information-add-payment-method-payment-details-number.form-type-textfield {
    flex: 1 100%;
  }

  #edit-payment-information-add-payment-method-payment-details-expiration {
    margin-right: 10px;
  }

  .layout-region-checkout-footer #edit-actions {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    input,
    a {
      flex: 1 100%;
    }

    input {
      margin-bottom: 30px;
      margin-right: 0;
    }

    a {
      align-self: flex-start;
    }

  }

}

//IE11
@media screen and (min-width: 0\0) {

  .checkout-pane-shipping-information .fieldset-wrapper {
    width: 100%;
  }

  .checkout-pane-shipping-information .form-item-shipping-information-shipping-profile-address-0-address-country-code {
    max-width: none;
  }

  .checkout-pane-shipping-information .form-item-shipping-information-shipping-profile-address-0-address-administrative-area {
    display: flex;
    flex-flow: row wrap;

    select {
      flex: 1 100%;
    }

  }

}
