#webform-submission-contact-add-form,
#webform-submission-contact-page-variant-contact-us-panels-variant-0-add-form {
  @extend %default-gutter-width;
  @extend %max-width;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;

  #edit-actions {
    margin: 0;
  }

}
