// Some rules are overly specific due to the lack of ability to
// control the markup generated.

input {
  border: 1px solid color(medium-grey);
  height: em(45);
}

fieldset { border: 0; }

.edit-thmda-membership-opts-submit { min-width: em(125); }

.filter-wrapper { @extend %sr-only; }

.form__row {
  display: flex;
  margin: 1rem 0;
}

.form__field {
  margin-right: em(16);
  max-width: 100%;

  &:last-of-type { margin-right: 0; }

  &--small {

    max-width: em(100);

    .form-text { max-width: em(100); }
  }

  .form-text { width: 100%; }
}

.form__button input,
.form-submit,
.form__button a {
  @extend %button;
  @extend .button;

  //width: em(100);
}

.form-submit {
  @extend %button--primary
}

.form__button {

  &--cancel a {
    background-color: color(medium-grey);
    border: em(1) solid transparent;
    color: $white;
    height: em(45);

    &:hover,
    &:focus {
      background-color: $white;
      border: em(1) solid color(medium-grey);
      color: color(medium-grey);
    }
  }

  &--primary input,
  .form-submit {
    @extend %button--primary;

    &:hover,
    &:focus {
      @extend %button--primary-focus;
    }
  }

  &--secondary {
    @extend %button--primary;

    &:hover,
    &:focus {
      @extend %button--primary-focus;
    }
  }

}

.form-submit.form-submit {
  @extend %button--primary;
  background-color: color(primary);
  border: em(1) solid transparent;

  &:hover,
  &:focus {
    @extend %button--primary-focus;
    background-color: $white;
    border: em(1) solid color(primary);
    color: color(primary);
  }
}

// form wrapper
.commerce-checkout-flow-thm-digitalmaker-checkout-flow {
  margin: rem(40) auto;
  max-width: em(1000);
}
