fieldset.form--container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 900px;
  width: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .fieldset-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

}

.form--header,
.form--header.fieldgroup.required {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > legend > span {
    @extend %card-header;
    color: color(quaternary);
    font-size: em(20);
  }

}

.form--border-top > legend {
  border-top: 1px solid color(medium-grey);
  padding-top: 15px;
}

//100% Width
.form-field--w-100 {
  flex: 1;
  flex-basis: 100%;
}

//100% Input
.form-field--input-100 input,
.form-field--input-100 select {
  width: 100%;
}

//400px Width
.form-field--w-large input,
.form-field--w-large select {
  width: 400px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

}

//250px Width
.form-field--w-medium input,
.form-field--w-medium select {
  width: 250px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

}

//75px Width
.form-field--w-small input,
.form-field--w-small select {
  max-width: 75px;

  @media screen and (max-width: 600px) {
    max-width: none;
    width: 100%;

  }

}

//Flex 0
.form-field--wrap {
  flex: 0;

  //IE 11 Fix
  @media screen and (min-width: 0\0) {
    flex: 0 100%;
  }

  @media screen and (max-width: 600px) {
    flex: 1;
  }

}

div.form-padding--bottom-15 {
  padding-bottom: 15px;
}

//Description and/or prefix
.field-prefix,
.webform-element-description {
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 15px;
}

//Form Containers
#edit-first-page,
#edit-volunteer-step-2,
#edit-step3 {
  @extend %max-width;
  @extend %default-gutter-width;
  margin: 0 auto;
  width: 100%;
}

.webform-submission-form.webform-submission-add-form.webform-submission-basicmaker-membership-flow-form.webform-submission-basicmaker-membership-flow-add-form,
#checkoutprogress,
.webform-progress {
  @extend %default-gutter-width;
  margin: 30px auto;
  width: 100%;
}

#edit-first-page {
  margin: 0 auto;
}

//Buttons
#edit-actions {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  width: auto;
}

@media screen and (max-width: 950px) {

  #edit-actions {
    margin-left: 0;
    padding-left: 30px;
    width: 100%;
  }

  #edit-wizard-prev,
  #edit-wizard-next,
  #edit-submit {
    width: 50%;
  }

}

@media screen and (max-width: 769px) {

  #edit-actions {
    padding-left: 15px;
  }

}

//Progress Tracker
.webform-progress-tracker.progress-tracker {
  margin-bottom: 30px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {

  .webform-progress-tracker .progress-step {
    margin-right: 15px;
  }

}

.webform-progress-tracker .progress-step .progress-text {
  line-height: normal;
  padding-top: 0;
}

.progress-step {
  font-size: 1.375em;
  font-weight: 400;
}

.progress-step.is-complete {
  background-color: color(primary);
}

.webform-progress-tracker .progress-step.is-complete .progress-text {
  color: $white;
}

//Normalizing form elements
fieldset,
.form-item,
.authorize-net-accept-js-form.form-wrapper,
.edit-payment-information-add-payment-method-billing-information {
  margin: 0 10px 15px 0;
  padding: 0;

  @media screen and (max-width: 600px) {
    margin-right: 0;
  }

}

label,
.webform-confirmation {
  @extend %source-sans-semi-bold;
  line-height: normal;
}

.webform-confirmation {
  align-items: center;
  flex-direction: column;
}

.form-text {
  margin: 0;
}

//Textarea
@media screen and (max-width: 768px) {

  textarea {
    width: 100%;
  }

}

//Allows the h2 titles to wraps within forms
form {

  fieldset legend {
    white-space: normal;
  }

}

//Select
.form-item select {
  border: 1px solid color(medium-grey);
  border-radius: 0;
  height: 45px;
  min-width: 150px;
  padding: 0 5px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

}

//Radio Buttons
input[type='radio']:checked + label,
input[type='radio']:not(:checked) + label {
  color: $page-font-color;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  padding-left: 28px;
  position: relative;
}

input[type='radio']:checked + label:before,
input[type='radio']:not(:checked) + label:before {
  background: $white;
  border: 1px solid color(medium-grey);
  border-radius: 100%;
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

input[type='radio']:checked + label:after,
input[type='radio']:not(:checked) + label:after {
  background: color(quaternary);
  border-radius: 100%;
  content: '';
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
  width: 12px;
}

input[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

//Radio and Checkbox
.form-type-radio,
.form-type-checkbox {
  margin-bottom: 5px;
}

input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: color(quaternary);
}

//Checkbox
input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
  cursor: pointer;
  padding: 0;
  position: relative;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  background: $white;
  border: 1px solid color(medium-grey);
  border-radius: 0;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  width: 20px;
}

input[type='checkbox']:checked + label:before {
  background: color(quaternary);
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  background: $white;
  content: '';
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}

input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

//Required *
.form-wrapper .form-item span.form-required {
  color: $red;
}

//Email Address
.form-item.form-item-thm-donation-opts-donor-email.form-type-email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label.form-required {
    flex: 1 0 100%;
  }

  span.form-required {
    color: $red;
    flex: 0;
    margin-right: 5px;
  }

  #edit-thm-donation-opts-donor-email {
    flex: 1;
  }

}

//Payment information
.authorize-net-accept-js-form.form-wrapper {
  border-bottom: 1px solid color(medium-grey);
  border-top: 1px solid color(medium-grey);
  margin-bottom: 30px;
  padding-top: 15px;
}

//Picture
.form-item.form-item-user-picture-0.form-type-managed-file {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-item.form-item-user-picture-0.form-type-managed-file > label {
  flex: 1;
  flex-basis: 100%;
}

.form-item.form-item-user-picture-0.form-type-managed-file > p {
  margin-top: 0;
  padding-left: 30px;
}

//Description
.form-wrapper .fieldset-wrapper .description {
  width: 100%;
}
