//Form Containers
form.webform-submission-form.webform-submission-add-form.webform-submission-basicmaker-membership-flow-form.webform-submission-basicmaker-membership-flow-add-form,
#checkoutprogress,
.webform-progress {
  @extend %max-width;
  @extend %default-gutter-width;
  margin: 30px 0;
}

#edit-field-salutation-wrapper,
#edit-field-intl-address-wrapper,
#edit-field-middle-initial-wrapper,
#edit-field-cell-phone-wrapper,
#edit-field-home-phone-wrapper,
#edit-field-email-address-wrapper,
#edit-user-picture-wrapper,
.form-item.form-item-mail.form-type-email,
.form-item.form-item-name.form-type-textfield,
#edit-password,
#edit-field-work-phone-wrapper {
  @extend %med-width-content;
  display: flex;
  margin: 0 auto;
}

//Progress Tracker
.webform-progress-tracker.progress-tracker {
  margin-bottom: 30px;
  margin-top: 0;
}

.webform-progress-tracker .progress-step .progress-text {
  line-height: normal;
  padding-top: 0;
}

.progress-step {
  font-size: 1.375em;
  font-weight: 400;
}

.progress-step.is-complete {
  background-color: color(primary);
}

.webform-progress-tracker .progress-step.is-complete .progress-text {
  color: $white;
}

#edit-field-intl-address-0,
.form-item.form-item-field-cell-phone-0-value.form-type-textfield,
.form-item.form-item-field-home-phone-0-value.form-type-textfield,
.form-item.form-item-field-work-phone-0-value.form-type-textfield {
  margin-bottom: 0;
}

//Normalizing form elements
fieldset,
.form-item,
.authorize-net-accept-js-form.form-wrapper,
.edit-payment-information-add-payment-method-billing-information {
  margin: 0 0 15px;
  padding: 0;
}

label {
  @extend %source-sans-semi-bold;
  line-height: normal;
}

.form-text {
  margin: 0;
}

//Select
.form-item select {
  //-webkit-appearance: none;
  border: 1px solid color(medium-grey);
  border-radius: 0;
  height: 45px;
  padding: 0 5px;
}

//Radio Buttons
input[type='radio'] + label, input[type='checkbox'] + label {
  display: flex;
}

input[type='radio'] + label:before {
  align-self: center;
  background-color: $white;
  border: 1px solid color(medium-grey);
  border-radius: 20px;
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 20px;
}

input[type='radio']:checked + label:before {
  color: color(quaternary);
  content: '\0000B7';
  font-size: 80px;
  line-height: 2px;
  z-index: 10;
}

input[type='radio']:checked + label {
  color: inherit;
}

//Checkbox
input[type='checkbox'] + label:before {
  align-self: center;
  background-color: $white;
  border: 1px solid color(medium-grey);
  border-radius: 0;
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 20px;
}

input[type='checkbox']:checked + label, input[type='radio']:checked + label {
  color: color(quaternary);
}

input[type='checkbox']:checked + label:before {
  color: color(quaternary);
  content: '\2713';
  font-size: 30px;
  line-height: 8px;
  z-index: 10;
}

//Required *
.form-wrapper .form-item span.form-required {
  color: $red;
}

//Email Address
.form-item.form-item-thm-donation-opts-donor-email.form-type-email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label.form-required {
    flex: 1 0 100%;
  }

  span.form-required {
    color: $red;
    flex: 0;
    margin-right: 5px;
  }

  #edit-thm-donation-opts-donor-email {
    flex: 1;
  }

}

//Payment information
.authorize-net-accept-js-form.form-wrapper {
  border-bottom: 1px solid color(medium-grey);
  border-top: 1px solid color(medium-grey);
  margin-bottom: 30px;
  padding-top: 15px;
}

//Picture
.form-item.form-item-user-picture-0.form-type-managed-file {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-item.form-item-user-picture-0.form-type-managed-file > label {
  flex: 1;
  flex-basis: 100%;
}

.form-item.form-item-user-picture-0.form-type-managed-file > p {
  margin-top: 0;
  padding-left: 30px;
}
