.header-search {
  display: flex;
  flex-direction: row;

  .form-item.form-item-search-api-fulltext.form-type-search-api-autocomplete.form-no-label {
    margin-bottom: 0;
  }

}

.search-form {
  form {
    display: flex;
    flex-direction: row;

    #edit-actions {
      margin: 0;
      padding-left: 0;
    }
  }
}
