#edit-fieldset-licensing-01,
#edit-fieldset-licensing-02,
#edit-fieldset-licensing-03,
#edit-fieldset-none,
#edit-fieldset-licensing-05,
#edit-fieldset-licensinginfopane2,
#edit-production-publication-type--wrapper,
#edit-use-type--wrapper,
#edit-production-publication-distribution-authorization-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;

  @media screen and (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
    width: 90%;
  }

  .fieldset-wrapper {
    display: flex;
    flex-flow: row wrap;

    .form-item.form-item-e-mail-1.form-type-email {
      flex: 0;
    }

    .form-item.form-item-title-1.form-type-select,
    .form-item.form-item-company-school-name-36.form-type-textfield {
      flex: 1;
      flex-basis: 100%;
    }

    .form-item.form-item-first-name-1.form-type-textfield,
    .form-item.form-item-last-name-1.form-type-textfield,
    .form-item.form-item-city-1.form-type-textfield,
    .form-item.form-item-city-36.form-type-textfield,
    .form-item.form-item-state-1.form-type-textfield,
    .form-item.form-item-state-36.form-type-textfield,
    .form-item.form-item-primary-phone-1.form-type-textfield,
    .form-item.form-item-work-phone-36.form-type-textfield {

      input {
        width: 250px;
      }

    }

    .form-item.form-item-e-mail-1.form-type-email {

      input {
        width: 400px;
      }

    }

    .form-item.form-item-mi-1.form-type-textfield,
    .form-item.form-item-suffix-1.form-type-textfield,
    .form-item.form-item-zip-code-1.form-type-textfield,
    .form-item.form-item-zip-code-36.form-type-textfield {

      input {
        max-width: 75px;
      }

    }

    .form-item.form-item-zip-code-36.form-type-textfield {

      input {
        width: 150px;
      }

    }

    //Title Select
    .form-item.form-item-title-1.form-type-select {
      align-items: center;
      display: flex;
      flex-direction: row !important;
      flex-wrap: wrap;

      #edit-title-1 {
        margin-left: 10px;
      }

    }

    .form-item.form-type-select {
      display: flex;
      flex-flow: column wrap;
    }

    .form-select {
      width: 250px;
    }

    //Textarea
    #edit-patron-project-desc-3 {
      width: 100%;
    }

    //licensing-02
    .form-item.form-item-patron-project-desc-3.form-type-textarea,
    .form-item.form-item-patrons-project-type-3.form-type-select,
    .form-item.form-item-the-historymakers-names-4.form-type-select {
      display: flex;
      flex-direction: column;

      & > div,
      #edit-patrons-project-type-3,
      #edit-the-historymakers-names-4 {
        order: 2;
      }

      #edit-patron-project-desc-3--description,
      #edit-patrons-project-type-3--description,
      #edit-the-historymakers-names-4--description {
        margin-top: 0;
        order: 1;
      }

    }

    .form-item.form-item-the-historymakers-names-4.form-type-select {
      margin-bottom: 30px;
    }

    fieldset#edit-archive-format--wrapper {
      display: flex;
      flex-basis: 100%;

      & > legend {
        border-top: 1px solid color(medium-grey);
        padding-top: 15px;
      }

    }

  }//.fieldset-wrapper

}

#edit-organization-affiliation-type-36--wrapper,
fieldset#edit-patrons-position-36--wrapper {
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  margin-top: 15px;

  & > legend {
    border-top: 1px solid color(medium-grey);
    padding-top: 15px;

    @media screen and (max-width: 1024px) {
      border-top: 0;
    }
  }

  .fieldset-wrapper,
  .form-item.form-item-intended-media-60.form-type-textfield {
    display: flex;
    flex-direction: column;

    #edit-organization-affiliation-type-36,
    #edit-patrons-position-36,
    #edit-intended-media-60 {
      order: 2;
    }

  }

}

#edit-patrons-position-36--wrapper {
  margin-top: 0;
}

//Select HistoryMakers
#edit-the-historymakers-names-4 {
  height: 200px;
}

//Description
#edit-organization-affiliation-type-36--wrapper--description,
#edit-patrons-position-36--wrapper--description,
#edit-production-publication-type--wrapper--description,
#edit-use-type--wrapper--description,
#edit-intended-media-60--description,
#edit-production-publication-distribution-authorization--wrapper--description {
  @extend %source-sans-semi-bold;
  flex-basis: 100%;
  line-height: normal;
  margin-bottom: 10px;
  order: 1;
}

#edit-intended-media-60--description {
  margin-top: 0;
}

#edit-production-publication-distribution-authorization-radios--wrapper {
  margin-bottom: 0;
}

#edit-production-publication-type-checkboxes--wrapper,
#edit-use-type-checkboxes--wrapper,
#edit-production-publication-distribution-authorization-radios--wrapper {
  order: 2;
}

#edit-how-did-you-learn-1--wrapper {
  border-bottom: 1px solid color(medium-grey);
  margin-bottom: 15px;
  padding-bottom: 15px;

  @media screen and (max-width: 1024px) {
    border-bottom: 0;
    margin-top: 15px;
  }

}

.form-item.form-item-primary-phone-1.form-type-textfield {
  margin-bottom: 30px;
  padding-bottom: 30px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }

}

#edit-how-did-you-learn-1--wrapper > legend > span {
  border-top: 1px solid color(medium-grey);

  @media screen and (max-width: 1024px) {
    border-top: 0;
  }

}

#edit-production-publication-distribution-authorization-section > legend {
  border-top: 1px solid color(medium-grey);
  padding-top: 15px;
}

//Headers
#edit-fieldset-licensing-01,
#edit-how-did-you-learn-1--wrapper,
#edit-fieldset-none,
#edit-organization-affiliation-type-36--wrapper,
#edit-patrons-position-36--wrapper,
#edit-fieldset-licensing-02,
#edit-archive-format--wrapper,
#edit-production-publication-type--wrapper,
#edit-use-type--wrapper,
#edit-fieldset-licensinginfopane2,
#edit-production-publication-distribution-authorization-section,
#edit-production-publication-distribution-authorization--wrapper {

  & > legend .fieldset-legend {
    @extend %card-header;
    color: color(quaternary);
    font-size: em(20);
  }

}

#edit-fieldset-licensinginfopane2 > legend .fieldset-legend {
  white-space: normal;
}

//Submit
#edit-actions {
  justify-content: flex-start;
}

#edit-wizard-next {
  width: 150px;
}

.form-item.form-item-publisher-company-60.form-type-textfield {
  width: 100%;

  input {
    width: 100%;
  }

}
