//Sponsor an Event
.form-item-additonal-comments-14 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-item-additonal-comments-14 > label {
  flex: 0 100%;
}

@media screen and (min-width: 0\0) {

  #edit-additional-comments-14 {
    margin-bottom: 15px;
  }

}
