.accordion__panel,
.accordion__panel:hover {
  @extend %oswald;

  background-color: color(secondary);
  border-radius: 0;
  display: flex;
  font-size: em(20);
  padding: em(10, 18) em(15, 18);
  width: 100%;
}

.accordion__arrow {
  height: 1.25rem;
  margin-left: auto;
  position: relative;
  width: 1.25rem;
}

.accordion__arrow-half {
  background-color: $white;
  display: inline-block;
  height: .1rem;
  position: absolute;
  top: .5rem;
  transition: transform .2s ease;
  width: .75rem;

  &:first-of-type {
    left: 0;
    transform: rotate(-45deg);
  }

  &:last-of-type {
    right: 0;
    transform: rotate(45deg);
  }
}


.collapsed .accordion__arrow-half {
  &:first-of-type {
    transform: rotate(45deg);
  }

  &:last-of-type {
    transform: rotate(-45deg);
  }
}
