// Bio Cards
.bio-card {
  border: 1px solid color(medium-grey);
  display: flex;
  margin-bottom: em(15);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

}

.bio-card__img {
  height: 100%;
  max-width: 120px;
  transform: scale(1.1);
  width: 50%;
}

.bio-card__info {
  background-color: $white;
  flex: 2;
  padding: em(12);
  z-index: 2;
}

.bio-card__name {
  @extend %oswald;
  color: color(secondary);
  font-size: em(20);
}

// Board/Committee Cards
.staff-card {
  margin: 0 2% em(32) 2.5%;
  max-width: 45%;
  padding: 0;

  &--accordion {
    background: $white;
    border: 1px solid color(medium-grey);

    .accordion__panel {
      background-color: transparent;
      color: color(secondary);
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .accordion__panel .accordion__arrow-half {
      background-color: color(secondary);
    }

    .accordion__body {
      color: $black;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      p {
        padding: 0 0.75em 0.75em;
      }

    }

  }

  &--image {
    height: auto;
    max-height: 150px;
    min-width: 150px;
    overflow: hidden;
    padding: 0;
    width: 150px;

    img {
      height: auto;
      width: 100%;
    }

  }

  &--content {
    background-color: $white;
    padding: em(12);

    h3 {
      color: color(secondary);
      font-family: $oswald;
      font-size: em(25);
      line-height: 80%;
      margin-top: 0;
    }

    h4 {
      color: $black;
      font-size: em(16);
    }

    p {
      color: color(secondary);
      margin: 0;
    }

  }

  &:hover {
    text-decoration: none;

    h3, h4 {
      text-decoration: none;
    }

  }

}//staff-card

.staff-card .staff-card--accordion.accordion {
  margin: 0;
  max-width: 100%;
}
