// Bio Cards
.bio-card {
  border: 1px solid color(medium-grey);
  display: flex;
  margin-bottom: em(15);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

}

.bio-card__img {
  height: 100%;
  max-width: 120px;
  transform: scale(1.1);
  width: 50%;
}

.bio-card__info {
  background-color: $white;
  flex: 2;
  padding: em(12);
  z-index: 2;
}

.bio-card__name {
  @extend %oswald;
  color: color(secondary);
  font-size: em(20);
}

// Board/Committee Cards
.card--list {
  background: $white;
  border: 1px solid color(medium-grey);
  display: flex;
  flex: 1 0 45%;
  flex-flow: row wrap;
  margin: 0 em(16) em(32);
  max-width: 45%;
  padding-left: 0;

  .card--image {
    flex: 1;
    flex-basis: 30%;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
    }

  }

  .card--content {
    flex: 1;
    flex-basis: 65%;
    margin-left: em(15);

    h3 {
      color: color(secondary);
      font-family: $oswald;
      margin-top: em(6);
    }

    h4 {
      color: $black;
      font-size: em(18);

      //Overflow at 1 line
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 1;
      // display: -webkit-box;
      // line-height: 120%;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }

    p {
      color: color(secondary);
      margin-top: 0;
    }

  }

  &:hover {
    text-decoration: none;

    h3, h4 {
      text-decoration: none;
    }
  }

}//.card--list
