.collage {
  column-count: 4;
  column-gap: 0;
  line-height: 0;
  margin: 0 auto;
  max-width: 1400px;
}

.collage .collage__img {
  height: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .collage {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .collage {
    column-count: 2;
  }

  .collage__info {
    font-size: rem(12);
  }
}

@media (max-width: 400px) {
  .collage {
    column-count: 1;
  }
}

.collage__container {
  display: block;
  position: relative;

  &:hover .collage__overlay,
  &:hover .collage__info {
    opacity: 1;
  }
}

.collage__overlay {
  align-items: center;
  background-color: color(quaternary-overlay);
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s ease-in-out;
  width: 100%;
}

.collage__title {
  @extend %oswald;
}

.collage__info {
  color: $white;
  left: 50%;
  line-height: 1.4;
  opacity: 0;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out 0s;
  width: 100%;
}
