.list-timeline-scroller {
  background-color: color(quaternary);

  .view-content {
    display: flex;
    height: auto;
    overflow-x: scroll;
    width: 100vw;
  }

  .views-row {
    flex: 1 0 60%;
    margin: em(30) em(50);

    @media screen and (max-width: 768px) {
      margin: 30px 30px 30px 15px;
    }

  }

}

.timeline-scroller {
  display: flex;
  flex-direction: row;
  padding-right: em(30);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &--image {
    flex: 1;
    height: auto;
    margin-right: em(30);
    max-width: 300px;
    overflow: hidden;

    img {
      max-height: 340px;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;

      img {
        margin-left: 0;
        max-height: 200px;
        width: auto;
      }
    }

  }

  &--content {
    @extend %source-sans;
    color: $white;
    flex: 1;
    line-height: normal;
    margin-right: 30px;
  }

  h4 {
    @extend %oswald;
  }

  &--intro {
    line-height: normal;
  }

}

.views-field-field-timeline-intro {

  .timeline-scroller {
    flex-wrap: wrap;
  }

}
