.list-timeline-scroller {
  background-color: color(quaternary);

  .view-content {
    display: flex;
    //height: 400px;
    height: auto;
    overflow-x: scroll;
    width: 100vw;
  }

  .views-row {
    flex: 1 0 70%;
    margin: em(30) em(50);

    @media screen and (max-width: 768px) {
      margin: 30px 30px 30px 15px;
    }

  }

}

.timeline-scroller {
  display: flex;
  flex-direction: row;
  padding-right: em(30);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &--image {
    flex: 1 0 auto;
    height: auto;
    margin-right: em(30);
    max-width: 300px;
    overflow: hidden;

    img {
      margin-left: 30px;
      max-height: 340px;
      padding: 15px;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;

      img {
        max-height: 200px;
        padding: 0 0 15px;
        width: 100%;
      }
    }

  }

  &--content {
    @extend %source-sans;
    color: $white;
    flex: 1 0 90%;
    line-height: normal;
    padding-right: 10%;
  }

  h4 {
    @extend %oswald;
  }

  &--intro {
    line-height: normal;
  }

}
