// Hero Slide
.hero-slide {

  &--image {
    @extend %slide-height;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 520px) {
      height: 250px;
    }

  }

}

.hero-slide--date {
  @extend %oswald;
  background: $white;
  color: color(primary);
  font-size: em(30);
  line-height: 120%;
  padding: em(10);
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: em(45);
  z-index: 500;

  @media screen and (max-width: 1024px) {
    font-size: 1.5em;
    padding: 15px;
    width: 70px;
  }

}

// Two Column Slide
.two-column-slide {
  @extend %slide-height;

  &--image {
    @extend %slide-height;
    background-position: center;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--image {
      flex: 2;
      height: auto;
      max-height: 250px;
      min-width: 100%;
    }

  }

  &--content {
    background: $white;
    color: $black;
    padding-left: $default-grid-gutter-width;
    padding-right: 50px;
    padding-top: em(80);

    h2 {
      @extend %oswald;
      @extend %h2;
    }

    p {
      @extend %large-p;
      line-height: 120%;
    }

    a.button.button--primary {
      margin-bottom: em(15);
      max-width: 50%;
      text-align: center;
    }

  }

  @media screen and (max-width: 1024px) {

    a.button.button--primary {
      max-width: 100%;
    }

  }

  @media screen and (max-width: 900px) {

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 0;
    }

  }

  .carousel__caption {
    padding-bottom: em(70);
    padding-top: em(70);
    width: 100%;

    @media screen and (max-width: 1024px) {
      padding: 1.875em;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-width: 100%;
      padding: em(20);
      position: relative;
      width: 100%;

      h2,
      p {
        width: 100%;
      }

      a.button {
        font-size: 1em;
        width: 40%;
      }

    }

    @media screen and (max-width: 520px) {

      a.button {
        width: 100%;
      }

    }

  }

}//.two-column-slide

.two-column-slide.row {
  margin-left: auto;
  margin-right: auto;
}

.two-column-slide--event {

  .two-column-slide--image {
    padding: 0;
  }

  img {
    margin: 0;
    min-width: 100%;
  }

}

//Event Slides
.event-carousel .two-column-slide  .carousel__caption {
  background-color: color(primary);
  color: $white;
  padding-right: 85px;

  @media screen and (max-width: 1024px) {
    padding-right: 70px;
  }

  @media screen and (max-width: 900px) {
    padding-right: 0;
  }

  a.button {
    @extend %oswald;
    background-color: $white;
    color: color(quaternary);
    font-size: em(20);
    margin-right: 0;
    text-align: center;
  }

  a.button:hover {
    background-color: color(quaternary);
    color: $white;
  }

  @media screen and (max-width: 900px) {
    h2,
    p {
      padding-right: 70px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
    position: relative;
    width: 100%;

    h2,
    p {
      width: 100%;
    }

    a.button {
      margin-left: 0;
      margin-right: 15px;
      width: auto;
    }
  }

  @media screen and (max-width: 460px) {

    a.button {
      flex: 1;
      line-height: 100%;
      width: 100%;
    }
  }

  .carousel__caption--buttons {
    bottom: em(60);
    position: absolute;
    width: 50%;

    @media screen and (max-width: 767px) {
      bottom: 0;
      flex: 1;
      margin-left: 10px;
      position: relative;
      width: auto;
    }

    p {
      color: $white;
      font-size: em(18);
      margin-bottom: em(10);
      margin-top: em(10);
      text-align: center;
    }

  }

}//.event-carousel .two-column-slide  .carousel__caption
