// Single snapshot container
.snapshot-blocks {
  @extend %max-width;
  margin-bottom: em(60);

  .field-items {
    display: flex;
    justify-content: center;
  }

  .field-item {
    flex: 0 1 25%;
    margin: 0 15px;
  }

}

.snapshot {

  &--image {
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-bottom: em(15);
    width: 100%;
  }

  h3 {
    @extend %oswald;
    color: color(quaternary);
  }

  h2 {
    @extend %source-sans-semi-bold;
    font-size: em(18);
  }

  .button {
    text-align: center;
    width: 50%
  }

}

// Two column snapshot container
.two-column-snapshot {
  @extend %max-width;
  margin-bottom: 3.75em;
  margin-top: em(60);
  width: 70%;

  &--image img {
    float: right;
    margin-right: em(10);
    max-width: em(267);
  }

}
