{#
#  The following values are available:
#  - title
#  - url
#  - first_name
#  - last_name
#  - bio_image
#  - maker_type (list)
#  - occupations (list)
#}
<h2>Related by Color</h2>
{{ drupal_view('related_makers_by_color', 'block_1', data.favorite_color) }}

<h2>Related by Birthplace</h2>
{{ drupal_view('related_makers_by_birthplace', 'block_1', data.birth_place) }}

<h2>Related by Occupation</h2>
{{ drupal_view('related_makers_by_occupation', 'block_1', data.occupation) }}

<h2>Related by Education</h2>
{{ drupal_view('related_makers_by_education', 'block_1', data.education) }}
