{#
 #  The following values are available:
 #  - title
 #  - url
 #  - first_name
 #  - last_name
 #  - bio_image
 #  - maker_type (list)
 #  - occupations (list)
#}
<ul>
    {% for record in data %}
        <li>
            <a href="{{ record.url }}" class="bio-card">
                <img class="bio-card__img" src="{{ record.bio_image }}">
                <div class="bio-card__info">
                    <span class="bio-card__name">{{ record.title }}</span><br>
                    {% for occupation in record.occupations %}
                        <span class="bio-card__job">{{ occupation }}</span>
                    {% endfor %}
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
