{#
/**
 * @file
 * Template for the Membership (\become-a-member) page.
 *
 * Available variables:
 * - signup_form: Button that kicks off the "BasicMaker" flow
 * - payment_form: Button that kicks off the "DigitalMaker" flow
 * - industry_form: Button that kicks off the "IndustryMaker" flow
 *
 * @ingroup themable
 */
#}
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum,
        sem at elementum eleifend, leo massa semper libero, in tempor urna
        magna a neque. Mauris ullamcorper convallis lorem mollis fermentum.
        Quisque auctor scelerisque semper. Proin at varius elit. In eget dictum
        erat. Phasellus ligula mauris, pharetra sit amet odio lacinia, pretium
        dignissim enim. Aliquam vel nisl vulputate, finibus lacus gravida,
        varius quam. Praesent purus massa, sagittis tincidunt placerat id,
        eleifend vel quam. Aliquam molestie ex in lacus semper tempus.
    </p>
    <p>
        Nulla luctus ac nisi in hendrerit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Nunc
        lectus ante, lobortis aliquam vestibulum tristique, laoreet vitae
        tortor. Vivamus sed laoreet mauris, eget congue ligula. Quisque cursus
        auctor sem. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Vestibulum rhoncus risus ut massa
        sodales vestibulum. In venenatis sit amet ex ac ullamcorper. Donec et
        varius leo. Proin magna tellus, accumsan vel placerat et, volutpat non
        arcu. In a velit varius, dapibus ante elementum, ultricies velit. Sed
        et nunc vel libero mattis tincidunt et quis massa.
    </p>

    {{ signup_form }}
    {{ payment_form }}
    {{ industry_form }}
</div>