#hero_carousel {

  .hero-slide {
    margin-bottom: em(30);
    margin-top: em(30);
    padding: 0 $default-grid-gutter-width;

    &--image {
      background-position: center;
      background-size: cover;
      height: em(580);
    }

  }

  .carousel-indicators {
    bottom: em(66);
    left: 0;
  }

  .carousel-indicators a {
    background-color: color(disabled-text);
    height: em(8);
    margin-right: em(10);
    width: em(8);
  }

  .carousel-indicators a.active {
    background-color: $white;
  }

}
