.intro-content {
  margin: $default-grid-gutter-width auto 0;
  max-width: 70%;
  text-align: center;

  h1 {
    @extend %oswald;
    font-size: em(38);
    text-align: center;
  }

  p {
    @extend %source-sans;
    font-size: em(24);
    line-height: normal;
    text-align: left;
  }

}
