.two-column-quote {
  margin: $default-grid-gutter-width auto 3.75em;
  max-width: 70%;

  &--content {

    h4 {
      @extend %oswald;
    }

    h4 p {
      font-size: em(22);
      line-height: 120%;
      margin-bottom: 0;
      margin-top: 0;
    }

    h4 + p {
      @extend %source-sans-semi-bold;
    }

  }

  &--image img {
    float: right;
    margin-right: em(10);
    max-width: em(267);
  }

}

#two_column_quote_carousel {
  background-color: #dedede;

  .carousel-indicators {
    left: 0;
  }

  .carousel-indicators a {
    background-color: color(disabled-text);
    height: em(8);
    margin-right: em(10);
    width: em(8);
  }

  .carousel-indicators a.active {
    background-color: $white;
  }

}
