.two-column-slide {
  height: 500px;

  .two-column-slide--image {
    background-size: cover;
    height: 500px;
  }

  .two-column-slide--content {
    background: $white;
    color: $black;
    padding-left: $default-grid-gutter-width;
    padding-right: 50px;
    padding-top: em(80);

    h2 {
      @extend %oswald;
    }

    p {
      font-size: em(24);
      line-height: 120%;
    }

  }

}
