<div class="row">
  <div class="col-sm-12 column">{{ content.banner }}</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-9 column first">{{ content.left_9 }}</div>
  <div class="col-sm-12 col-md-3 column last">{{ content.right_3 }}</div>
</div>
