<div class="row">
  <div class="col-sm-12">{{ content.top }}</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-3">{{ content.left }}</div>
  <div class="col-sm-12 col-md-9">{{ content.right }}</div>
</div>
