{#
/**
 * @file
 * Template for the Basic custom block page.
 *
 * Note: template is to extend the existing basic block
 *
 */
#}
<div class="contextual-region">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="basic-block {{ content.field_content_alignment|field_value }}">
    {{ content.body|field_value }}
  </div>

</div>
