{#
/**
 * @file
 * Theme override for custom block 2 Column Slider.
 *
 * Available variables using Paragraphs:
 * -  field_slide_image
 * -  field_slide_header
 * -  field_slide_content
 *
 */
#}
<ul>
  <li>{{ content.field_2_column_slide|field_value }}</li>
</ul>
