{#
/**
 * @file
 * Theme override for custom block Two Column Testimonial.
 *
 * Available variables using Paragraphs:
 * -  field_two_col_testimonial_header
 * -  field_two_col_testimonial_block 
 *
 */
#}

<hr>
<h2 class="two-column-testimonial--header">
  {{ content.field_two_col_testimonial_header }}
</h2>
{{ content.field_two_col_testimonial_block }}
