{#
/**
 * @file
 * Theme override for custom block Snapshot Block.
 *
 * Available variables using Paragraphs:
 * -  {{ content.field_snapshot_block }}
 *
 */
#}
<div class="contextual-region">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="snapshot-blocks">
    {{ content.field_snapshot_block }}
  </div>

</div>
