{#
/**
 * @file
 * Theme override for custom block Snapshot Block.
 *
 * Available variables using Paragraphs:
 * -  {{ content.field_past_winners_block }}
 *
 */
#}

<div class="past-winner-block">
  <h3 class="left-block-title">Past Winners</h3>
  <div class="snapshot-blocks">
    {{ content.field_past_winners_block }}
  </div>
</div>
