{#
/**
 * @file
 * Theme override for Press Year Navigation
 *
 * Menu Machine Name
 * -  press-year-navigation
 * 
 * ul .menu
 * li .menu-item
 *
 */
#}

<div class="press__year-navigation">
  <nav class="press__tab">
    {{ drupal_menu('press-year-navigation') }}
  </nav>
</div>
