<h2 class="view-block__title">{{view.storage.label}}</h2>
{% if rows[0]['#rows'] %}
    {% set orders = rows[0]['#rows'] %}

        <div class="card">
            <ul class="list-group list-group-flush">
                {% for order in orders %}
                    <li class="list-group-item">{{ order }}</li>
                {% endfor %}
            </ul>
        </div>

    {{ pager }}
    {{ drupal_entity('commerce_product', 1) }}
    {% else %}

    You have no orders yet.
{% endif %}
