{#
/**
 * @file
 * Theme override for People view and custom blocks.
 *
 * Content Type created using Paragraphs
 * -  Paragraph Label: Maker Category Card
 * -  Paragraph Field: maker_category_block
 *
 *
 */
#}

{# {{ drupal_dump(_context|keys) }} #}
{# {{ drupal_dump(_context.rows) }} #}

<div class="row">
  {{ _context.rows }}
</div>
