// Generic content styles

// Basic Block Content
.wrapper .basic-block {
  @extend %max-width;
  margin-bottom: em(50);
  margin-top: em(60);
  width: 70%;

  p {
    font-size: em(18);
  }

}

hr {
  margin-top: em(60);
}

.content {

  h2 {
    @extend %h2;
    margin-bottom: em(15);
  }

  h3 {
    font-family: $oswald;
  }

}

p img {
  width: 100%;
}

.share {
  //left: em(10);
  position: fixed;
  top: 44%; // we may eventually want to use js to calculate this relative to the parent container
  z-index: 1000;

  @media only screen and (max-width: 1500px) {
    left: 10px;
  }

  @media only screen and (max-width: 950px) {
    top: 25%;
  }

}

.share__icon {
  height: auto;
  width: em(30);

  @media screen and (max-width: 1024px) {
    width: em(36);
  }

}
