.intro-content {
  @extend %max-width;
  margin-bottom: em(60);
  margin-top: $default-grid-gutter-width;
  text-align: center;

  div {
    @extend %med-width-content;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    @extend %oswald;
    @extend %h2;
    text-align: center;
  }

  p {
    @extend %source-sans;
    @extend %large-p;
    line-height: normal;
    text-align: left;
  }

  a.button {
    font-size: 1em;
    width: 30%;
  }

  @media screen and (max-width: 560px) {

    a.button {
      font-size: 1.4em;
      width: 100%;
    }

  }

}
