.intro-content {
  @extend %max-width;
  margin-bottom: em(60);
  margin-top: $default-grid-gutter-width;
  text-align: center;

  div {
    @extend %med-width-content;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    @extend %oswald;
    @extend %h2;
    text-align: center;

    @media screen and (max-width: 768px) {
      text-align: left;
    }

  }

  p {
    @extend %source-sans;
    @extend %large-p;
    line-height: normal;
    text-align: left;

    @media screen and (max-width: 900px) {
      margin-bottom: 30px;
    }

  }

  a {
    @extend %button;
    @extend %button--primary;
    color: $white;
    font-size: 1em;

    &:hover {
      @extend %button--primary-focus;
      text-decoration: none;
    }

  }

  @media screen and (max-width: 900px) {
    .intro-content__content {
      display: flex;
      flex-flow: column wrap;

      a {
        margin-bottom: 15px;
        margin-right: 0;
      }

    }

  }

}

//Within the 1-2-1col layout
.layout--1-2-1col .block-region-custom-left div, 
.layout--1-2-1col .block-region-custom-right div {

  .intro-content__content {
    display: flex;
    flex-flow: row wrap;
  
    h1,
    p {
      flex-basis: 100%;
    }

    a {
      margin-top: 10px;
    }

  }

}
