#pagetitle {
  background-color: color(quaternary);

  h1 {
    @extend %oswald;
    @extend %default-gutter-width;
    align-items: center;
    color: $white;
    display: flex;
    font-size: 3.3125rem;
    height: auto;
    margin: 0 auto; //margin-bottom: 2.8125rem;
    max-width: $max-width;
    padding: 15px;

    @media screen and (max-width: 900px) {
      font-size: em(30);
      padding-bottom: 12px;
      padding-top: 8px;
    }
  }

}

.page-title {
  @extend %oswald;
  @extend %default-gutter-width;
  align-items: center;
  color: $white;
  display: flex;
  font-size: 3.3125rem;
  height: auto;
  margin: 0 auto; //margin-bottom: 2.8125rem;
  max-width: $max-width;
  padding: 15px;

  @media screen and (max-width: 900px) {
    font-size: em(30);
    padding-bottom: 12px;
    padding-top: 8px;
  }

}
