.banner.row.col-lg-12 {
  background-size: cover;
  display: flex;
  height: em(276);
  margin: 0 auto 2.8125rem;
  max-width: $max-width;
  padding: 0;
  width: 100%;

  h2 {
    @extend %oswald-light;
    align-self: flex-end;
    color: $white;
    font-size: em(52);
    padding-bottom: 1em;
    padding-left: $default-grid-gutter-width;
  }

  .banner--highlight {
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: em(20) em(30) em(30);
    width: 500px;

    p {
      align-self: flex-start;
      flex: 1 0 100%;
      margin-top: 0;
    }

    .banner--highlight-name {
      @extend %oswald;
      align-content: flex-end;
      flex-basis: 100%;
      font-size: em(22);
      margin-top: 45%;
    }
  }

}
