#pagetitle {
  background-color: color(quaternary);
}

.page-title {
  @extend %oswald;
  align-items: center;
  color: $white;
  display: flex;
  font-size: 3.3125rem;
  height: 1.88679em;
  margin: 0 auto; //margin-bottom: 2.8125rem;
  max-width: $max-width;
  padding: 0 $default-grid-gutter-width;
}
