<footer class="footer">
    {{ page.footer }}

    <div>
        <address class="address">The HistoryMakers  |  1900 S. Michigan Avenue  |  Chicago Illinois 60616  |  <a href="tel:+13126741900">(312) 674-1900</a>  |  <a href="fax:+13126741915">(312) 674-1915</a> (fax)</address>
    </div>
    <span>&copy;2017 The HistoryMakers. All rights reserved.</span> 
</footer>
    